@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

navigation {
  position: fixed;
    display: flex;
    width: 100%;
    left: 0%;
    right: 0%;
    height: 44px;
    font-family: 'NeueHaasGroteskDisplay45Light';
    font-weight: 200;
    font-style: normal;  
    font-size: 11px;
    letter-spacing: 0.5px;
    color: #666666;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    /* left: 8%;  */
    background-color: rgba(255, 255, 255, 0.543);
    backdrop-filter: blur(10px);
    /* border-bottom: 0.5px solid #9f9f9f75; */
    z-index: 1;
    opacity: 1;
  }
  
  navigation a {
      /* float: left; */
      text-decoration: none;
      text-align: center;
      


  }

  navigation button {
  position: fixed;
  top: 3%;
  right: 2%; 
  z-index: 1;
  text-align: center;
  margin-right: 0px;
   
  }

.nav {
  padding: 0px 0px;
}

.vl {
  border-left: 0.5px solid  #9f9f9fa7;
  height: 100vh;
  position: fixed;
  left: 0%;
  margin-left: 44px;
  top: 0px;
  display: block;
  z-index: 990;
}


.logo {
  width: 24px;
  position: fixed;
  top: 14px;
  left: 10px;
}


.fi-br-menu-burger {
  padding-right: 26px;
  font-size: 18px;
  opacity: 1;
  cursor: pointer;
  /* padding-top: 2px; */

}


/* .fi-sr-house-chimney {
  padding-left: 13px;
  font-size: 16px;
  opacity: 1;
  cursor: pointer;  
} */


.contact .tooltiptext {
  text-align: right;
  bottom: 27%;
  right: 50%;
  margin-left: -148px;
  
}

.content-wrapper {
    height: 100vh;
    width: 102%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* padding: 8%; */
   
}

/* width */
/* ::-webkit-scrollbar {
    width: 2px;
    border-radius: 100px;
   
  } */
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    box-sizing: border-box;
    margin-top: 200px;
    margin-bottom: 320px;
    background: linear-gradient(#d6d6d6, #a1a1a14d);    
    border-radius: 100px;
   

  } */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    border-radius: 100px;
    background: #424141;
  }
  
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  } */


.menu-wrapper .active {
  color: rgb(70, 70, 70);
  font-weight: 500;
 
    
}

.menu-wrapper a:hover {
  color: rgb(119, 119, 119);
}


.content {
    height: auto;
    box-sizing: border-box;
    padding: 0%;
    
}

.active {
    
    transition: .5s ease-out;
    opacity: 1;
    color: black;
    
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 6%;
    left: 0;
    bottom: 0%;
    justify-content: space-evenly;
    z-index: 990;
    margin: 0 auto;
    /* width: 44px;
background-color: #9d9a9a23; */
}


.menu li a { 
  font-family: 'NeueHaasGroteskDisplay45Light';
  font-style: normal;  
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #a4a4a4;
  opacity: 1;
  /* vertical-align: top; */
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 13px 0px;
    text-decoration: none;
    position: fixed;

  /* left: 25px; */
}



.contact {
    transform: translate(0,100%) rotate(0deg);
    right: 22px;
    text-decoration: none;
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 24%;
    justify-content: space-evenly;
    z-index: 0;
}


.contact i {
    font-size: .85rem;

}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 990;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  overflow-y: hidden;
  transition: 0.5s;
}


.overlay-content {
  position: relative;
  top: 28%;
  width: 100%;
  text-align: center;
}

.overlay a {
  /* padding: 8px; */
  text-decoration: none;
  font-family: 'the_new_eleganceCnRg';
  font-size: 6.5rem;
  line-height: 9rem;
  letter-spacing: 1px;
  display: block;
  transition: 0.3s;
  color: white;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0%;
  right: 2%;
  font-size: 30px;
}


@media screen and (max-width: 500px) {
  .contact {
      display: none;
  }


  navigation {
    height: 44px;

    }


    navigation a {
      font-size: .7rem;
    }

  .menu li a {
    font-size: .5rem;
    height: 16px;
    padding: 0%;
    margin-top: 24px;
  }

  
.vl {
border-left: 0.5px solid  #9f9f9fa7;
height: 100vh;
position: fixed;
left: 0%;
margin-left: 42px;
top: 0px;
display: block;
z-index: 990;
}


.fi-sr-house-chimney, .fi-br-menu-burger {
font-size: .9rem;

}


.fi-sr-house-chimney {
padding-left: 13.5px;
}



}

@media screen and (max-width: 420px) {


  navigation {
    height: 64px;

    }


    navigation a {
      font-size: .7rem;
    }
  .overlay .closebtn {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 30px;
  }

  /* .fi-br-menu-burger {
    position: fixed;
    top: 1.7%;
    right: 4%;
    font-size: 20px;
    opacity: 0.6;
    
  } */



.nav {
  padding: 0px 0px 0px 0px;
}


/* .vl {
  display: none;
} */












}