@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

navigation {
  position: fixed;
  
  display: flex;
  width: calc(100% - 92px);
  left: 46px;
  justify-content: center;
  margin: 0px;
  top: 1vh;
  font-size: 20px;
  height: 40px;
  /* left: 8%;  */
  /* background-color: rgba(255, 255, 255, 0.384);
  backdrop-filter: blur(10px); */
  z-index: 122;
  }
  
  navigation a {
      /* float: left; */
      text-decoration: none;
      text-align: center;


  }

  navigation button {
  position: fixed;
  top: 3%;
  right: 2%; 
  z-index: 1;
  text-align: center;
  margin-right: 0px;
   
  }

.nav {
  padding: 0px 80px;
}




.content-wrapper {
    height: 100vh;
    width: 99%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* padding: 8%; */
   
}

/* width */
::-webkit-scrollbar {
    width: 2px;
    border-radius: 100px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-sizing: border-box;
    margin-top: 200px;
    margin-bottom: 320px;
    background: linear-gradient(#d6d6d6, #a1a1a14d);    
    border-radius: 100px;
   

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    border-radius: 100px;
    background: #424141;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }


/* .menu-wrapper {
 
    
} */



.vl {
    border-left: 0.5px solid  #9f9f9fa7;
    height: 100vh;
    position: fixed;
    left: 0%;
    margin-left: 64px;
    top: 0;
  }


.content {
    height: auto;
    box-sizing: border-box;
    padding: 0%;
    
}

.active {
    color: rgba(255, 255, 255, 0.466);
    transition: .5s ease-out;
    font-weight: 800;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 6%;
    left: 0;
    bottom: 0;
    width: 0px;
    padding-right: 0px;
    font-size: .8rem;
    justify-content: space-around;


}



.menu li { 
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

}
.menu li a { 
    vertical-align: top;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0px 0px;
    white-space: nowrap;
    text-decoration: none;
    position: fixed;
    position: fixed;
  left: 25px;
}



.contact {
    /* vertical-align: top; */
    transform: translate(0,100%) rotate(0deg);
    /* white-space: nowrap; */
    right: 2%;
    text-decoration: none;
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 24%;
    justify-content: space-evenly;
    height: 24vh;
}


.contact i {
    font-size: .95rem;

}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.fi-br-menu-burger {
  position: fixed;
  top: 2%;
  left: 6.2%;
  font-size: 20px;
  
}


.fi-sr-house-chimney {
  font-size: 1.1rem;
  position: fixed;
  left: 1.5%;
  top: 2%;
  
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: 'the_new_eleganceregular';
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 1px;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 2%;
  left: 6%;
  opacity: 0;
}



  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

.menu {
  display: none;
}

  .vl {
    display: none;
  }

  .fi-br-menu-burger {
    position: fixed;
    top: 4%;
    right: 6%;
    font-size: 20px;
    
  }


  .fi-sr-house-chimney {
    font-size: 1.1rem;
    position: fixed;
    left: 6%;
    top: 4%;
    
}


  navigation a {
      float: none;
      text-decoration: none;
      text-align: center;
      margin: 0px 50px;

  }




}