@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://db.onlinewebfonts.com/c/fedc4d4a8801488c6c47b5521bbba331?family=Mrs+Eaves+Lining+OT');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Switzer';
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 200;
    padding-top: 0px;
    text-align: justify;
    color: #a6a6a6;
}



h1 {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -3px;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
}


h2 {
  
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -2px;
    font-weight: 100;
    padding: 0% 0;
    margin: 0% 0;
}


h3 {

    font-size: 2rem;
    line-height: 5.15rem;
    letter-spacing: 0px;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
text-transform: uppercase;}


h4 {
    font-size: 0.9rem;
    line-height: 2rem;
    letter-spacing: 1px;
    font-weight: 200;
    color: #a6a6a6;
    padding: 0%;
    margin: 0%;
    text-transform: uppercase;
}


h5 {
    font-size: 0.95rem;
    line-height: 4rem;
    letter-spacing: 0px;
    font-weight: 200;
    padding: 0%;
    margin: 0%;
}


h6 {
    font-size: 0.8rem;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}


p {
    font-size: 0.85rem;
    line-height: 1.4rem;
    letter-spacing: 0.1px;
    font-weight: 200;
    padding: 0%;
    margin: 0%;
    text-align: justify;
}



#YSL_p {
   
    position: sticky;
    height: 100vh;
}




#YSL_p {
    display:none;
} 



#YSL_p:target{
    display: grid;

} 




#YSL  {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 80px 45px 0px 100px;
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */
  
  }
  
  .text {
    grid-column: col 6 / span 8;
    grid-row: row 2;
  
  }
  
  
  
  .YSL {
    grid-column: col 1 / span 3;
    grid-row: row 1;
  
  }
  
  video {
    grid-column: col 6 / span 8;
    grid-row: row 8;
  
  }
  



  #poker  {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 80px 45px 0px 100px;
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */
  
  }


  
#poker {
   
  position: sticky;
  height: 100vh;
}




#poker {
  display:none;
} 



#poker:target{
  display: grid;


} 
  
  
  #pokerstars  {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 80px 45px 0px 100px;
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */
  
  }
  
  #pokerstars .text {
    grid-column: col 6 / span 8;
    grid-row: row 7;
  
  }
  
  
  
  .poker_1 {
    display: grid;
    grid-column: col 1 / span 6;
    grid-row: row 7;
    padding-bottom: 0px;
  
  
  }  
  
  .poker_1_mob {
    display: grid;
    grid-column: col 9 / span 2;
    grid-row: row 16;
    padding-bottom: 0px;
  
  
  }  










  
#rfu  {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 80px 45px 0px 100px;
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */
  
  }
  
  #rfu .text {
    grid-column: col 6 / span 5;
    grid-row: row 2;
  
  }
  
   
 video .RFU_1 {
    display: grid;
    grid-column: col 1 / span 5;
    grid-row: row 5;
    padding-bottom: 0px;
  
  
  }  
  

  
  #rfu video .RFU_3 {
    display: grid;
    grid-column: col 8 / span 4;
    grid-row: row 8;
    padding-bottom: 0px;
  
  
  }  
  



  #rugby  {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 80px 45px 0px 100px;
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */
  
  }


#rugby {
   
  position: sticky;
  height: 100vh;
}




#rugby {
  display:none;
} 



#rugby:target{
  display: grid;


} 


/*   
  .three {
    display: grid;
    grid-column: col 1 / span 12;
    grid-row: row 4;
    padding-top: 0;
  } */
  
  
 
  
  
  
  