
* {
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
  /* overflow-x: hidden;
  scrollbar-width: none; */
  /* margin-right: 2%; */
  /* overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none; */

}


body {
  color: #666666;
}

.content-wrapper {
  height: 100vh;
  width: 98%;

  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* padding: 8%; */
 
}

.column {
  column-count: 2;
  column-gap: 60px;
  column-rule: 1px dotted #666666;
  width: 50%;
  text-align: center;
}

   /* width */
   ::-webkit-scrollbar {
    width: 2px;
    border-radius: 100px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-sizing: border-box;
    margin-top: 200px;
    margin-bottom: 320px;
    background: linear-gradient(#d6d6d6, #a1a1a14d);    
    border-radius: 100px;
   
  
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    border-radius: 100px;
    background: #424141;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }


/* Override UGG site */
#main {
width: 100%;
padding: 0;
}
.content-asset p {
margin: 0 auto;
}
.breadcrumb {
display: none;
}

/* Helpers */
/**************************/
.margin-top-20 {
  padding-top: 20px;
}

.margin-top-60 {
  padding-top: 60px;
}

.margin-bot-10 {
  padding-bottom: 10px;
}

.margin-bot-20 {
  padding-bottom: 20px;
}

/* Typography */
/**************************/
/* #parallax-world-of-ugg h1 {
font-family: "Oswald", sans-serif;
font-size: 24px;
font-weight: 400;
text-transform: uppercase;
color: black;
padding: 0;
margin: 0;
} */
h2 {
  font-family: 'the_new_eleganceCnRg';
font-size: 90px;
line-height: 160px;
letter-spacing: 2px;
text-align: center;
color: white;
font-weight: 400;
z-index: 10;
opacity: 0.9;
}
h3 {
font-family: 'the_new_eleganceCnRg';
font-size: 32px;
  line-height: 52px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

h5 {
  line-height: 32px;
}

p {
  font-family: 'NeueHaasGroteskDisplay45Light';
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

/* .col {
display: flex;
justify-content: space-between;
width: 80%;
} */


#flip1, #flip2, #flip3, #flip4, #flip5 {
  margin-top: 20px;
  margin-bottom: 0px;
  cursor: pointer;

}

#panel1, #panel2, #panel3, #panel4, #panel5 {
  display: none;
  text-align: justify;
  margin-top: 40px;
  width: 100%;
 

}

.CTA {
  padding-top: 40px;
}



  button {
    background-color: transparent;
    border: 0.5px solid rgb(120, 120, 120);
    
  }


/* Section - Title */
/**************************/
/* #ysl .title, #ps .title, #boots .title {
background: rgb(37, 37, 37);
padding: 120px 0;
margin: 0 auto;
text-align: center;
color: white;
} */
h1 {
  font-size: 35px;
letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#ysl .block, #ps .block,  #boots .block, #mag .block, #rfu .block {
padding: 60px 0;
width: 820px;
margin: 0 14%;
text-align: justify;

}




/* MEDIA - GRID */
/**************************/

img {
width: 100%;
}

.media {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-row-gap: 80px;
grid-column-gap: 20px;
box-sizing: border-box;
padding: 44px 12% 44px 14%;
}


#ysl .media .img_1 {
display: grid;
grid-column: 8 / span 4;
grid-row: 1;
} 

#ysl .video_1 {
  width: 480px;
  margin-left: 14%;
} 


#ps .media .img_1 {
  display: grid;
  grid-column: 5 / span 8;
  grid-row: 1;
  } 
  

#boots .media .img_1 {
display: grid;
grid-column: 1 / span 7;
grid-row: 2;
} 

#boots .media .img_2 {
display: grid;
grid-column: 8 / span 5;
grid-row: 1;

} 

#mag .video_1 {
  grid-column: 7 / span 6;
  grid-row: 2;
}

#rfu .video_1 {
  grid-column: 1 / span 5;
  grid-row: 1;
}



#rfu .video_2 {
  grid-column: 1 / span 4;
  grid-row: 3;
}

#rfu .video_3 {
  grid-column: 6 / span 7;
  grid-row: 2;
}




.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #767473;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  font-size: .6rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}


.tooltip:hover .tooltiptext:hover {
  visibility: visible;
}



.contact a {
  color: white;
  opacity: 1;
  z-index: 990;
}
/*   
.menu-wrapper .contact {
  bottom: 200px;
  right: 20px;
} */

.menu-wrapper .square {
  padding: 0px 0px 0px 0px;
  border: 0.5px solid #e6dada3f;
  outline: none;
  margin: 4px;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: #2929297b;
  font-weight: 200;
  transition: transform .2s;


}


.contact .square i {
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 1%;
  margin-left: 6px;
  font-size: .9rem;
}

.fi-brands-linkedin {
  padding-left: 1px;
}



/* Media Queries */
/**************************/
@media screen and (min-width: 960px) and (max-width: 1200px) {



/* MEDIA - GRID */
/**************************/

img {
width: 100%;
}


.media {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-row-gap: 20px;
  box-sizing: border-box;
  padding: 60px 140px 60px 148px;
  }
  
  #ysl .block, #ps .block, #boots .block, #mag .block, #rfu .block {
    padding: 60px 0px 60px 0px;
    width: 780px;
    margin: 0 0px 0 148px;
  
  }
  
  
  
#ysl .media .img_1 {
  display: grid;
  grid-column: 8 / span 4;
  grid-row: 1;
  } 
  
  #ysl .video_1 {
    width: 480px;
    margin-left: 148px;
  } 
  
  
  #ps .media .img_1 {
    display: grid;
    grid-column: 4 / span 8;
    grid-row: 1;
    } 
    
  
  #boots .media .img_1 {
  display: grid;
  grid-column: 1 / span 6;
  grid-row: 2;
  } 
  
  #boots .media .img_2 {
  display: grid;
  grid-column: 5 / span 6;
  grid-row: 1;
  
  } 
  
  #mag .video_1 {
    grid-column: 5 / span 7;
    grid-row: 1;
  }
  
  #rfu .video_1 {
    grid-column: 1 / span 5;
    grid-row: 1;
  }
  
  
  
  #rfu .video_2 {
    grid-column: 1 / span 4;
    grid-row: 3;
  }
  
  #rfu .video_3 {
    grid-column: 5 / span 7;
    grid-row: 2;
  }
  

}



@media screen and (max-width: 959px) and (min-width: 769px) {



h2 {
  font-family: 'the_new_eleganceCnRg';
font-size: 70px;
line-height: 120px;
letter-spacing: 2px;
padding-right: 6px;

}



.media {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-row-gap: 20px;
  box-sizing: border-box;
  padding: 60px 0px 60px 90px;
  }
  
  #ysl .block, #ps .block, #boots .block, #mag .block, #rfu .block {
    padding: 60px 0px 60px 0px;
    width: 680px;
    margin: 0 0px 0 90px;
  
  }
  
  
  
  
  
#ysl .media .img_1 {
  display: grid;
  grid-column: 8 / span 4;
  grid-row: 1;
  } 
  
  #ysl .video_1 {
    width: 480px;
    margin-left: 148px;
  } 
  
  
  #ps .media .img_1 {
    display: grid;
    grid-column: 4 / span 8;
    grid-row: 1;
    } 
    
  
  #boots .media .img_1 {
  display: grid;
  grid-column: 1 / span 6;
  grid-row: 2;
  } 
  
  #boots .media .img_2 {
  display: grid;
  grid-column: 5 / span 6;
  grid-row: 1;
  
  } 
  
  #mag .video_1 {
    grid-column: 5 / span 7;
    grid-row: 1;
  }
  
  #rfu .video_1 {
    grid-column: 1 / span 5;
    grid-row: 1;
  }
  
  
  
  #rfu .video_2 {
    grid-column: 1 / span 4;
    grid-row: 3;
  }
  
  #rfu .video_3 {
    grid-column: 5 / span 7;
    grid-row: 2;
  }
    
}
@media screen and (max-width: 788px) {

.contact {
  display: none;
}



h2 {
  font-family: 'the_new_eleganceCnRg';
font-size: 56px;
line-height: 90px;
letter-spacing: 2px;
padding-right: 6px;

}


.media {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-row-gap: 20px;
  box-sizing: border-box;
  padding: 60px 0px 60px 120px;
  }
  
  #ysl .block, #ps .block, #boots .block, #mag .block, #rfu .block {
    padding: 60px 0px 60px 0px;
    width: 580px;
    margin: 0 0px 0 120px;
  
  }
  
  
  
  
  
  #ysl .media .img_1 {
    display: grid;
width: 40%;   
    } 
    
   #ysl .video_1 {
    width: 580px;
  margin-left: 120px;
    } 
    
    
    #ps .media .img_1 {
      width: 580px;
     
      } 
      
    
    #boots .media .img_1 {
      width: 580px;
  
    } 
    
    #boots .media .img_2 {
      width: 580px;
      grid-column: 1 / span 6;
  
    
    } 
    
    #mag .video_1 {
      width: 580px;
      grid-column: 1 / span 6;
  
    }
    
    #rfu .video_1 {
      width: 580px;
  
    }
    
    
    
    #rfu .video_2 {
      display: none;
    }
    
    #rfu .video_3 {
      width: 580px;
  
  grid-column: 1 / span 6;
    }
    


}

@media screen and (max-width: 620px) {
  .contact {
      display: none;
  }



h2 {
  font-family: 'the_new_eleganceCnRg';
font-size: 56px;
line-height: 90px;
letter-spacing: 2px;
padding-right: 6px;

}

.media {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-row-gap: 20px;
  box-sizing: border-box;
  padding: 60px 0px 60px 90px;
  }
  
  #ysl .block, #ps .block, #boots .block, #mag .block, #rfu .block {
    padding: 60px 0px 60px 0px;
    width: 480px;
    margin: 0 0px 0 90px;
  
  }
  
  
  
  
  
  #ysl .media .img_1 {
    display: grid;
width: 60%; 
    } 
    
   #ysl .video_1 {
    width: 480px;
  margin-left: 90px;
    } 
    
    
    #ps .media .img_1 {
      width: 480px;
     
      } 
      
    
    #boots .media .img_1 {
      width: 480px;
  
    } 
    
    #boots .media .img_2 {
      width: 480px;
      grid-column: 1 / span 6;
  
    
    } 
    
    #mag .video_1 {
      width: 480px;
      grid-column: 1 / span 6;
  
    }
    
    #rfu .video_1 {
      width: 480px;
  
    }
    
    
    
    #rfu .video_2 {
      display: none;
    }
    
    #rfu .video_3 {
      width: 480px;
  
  grid-column: 1 / span 6;
    }
    



}



@media screen and (max-width: 500px) {
  .contact {
      display: none;
  }


.media {
display: grid;
grid-template-columns: repeat(6, auto);
grid-row-gap: 20px;
box-sizing: border-box;
padding: 60px 0px 60px 70px;
}

#ysl .block, #ps .block, #boots .block, #mag .block, #rfu .block {
  padding: 60px 0px 60px 0px;
  width: 400px;
  margin: 0 0px 0 70px;

}





#ysl .media .img_1 {
  display: grid;
width: 60%; 
  } 
  
 #ysl .video_1 {
  width: 400px;
margin-left: 70px;
  } 
  
  
  #ps .media .img_1 {
    width: 400px;
   
    } 
    
  
  #boots .media .img_1 {
    width: 400px;

  } 
  
  #boots .media .img_2 {
    width: 400px;
    grid-column: 1 / span 6;

  
  } 
  
  #mag .video_1 {
    width: 400px;
    grid-column: 1 / span 6;

  }
  
  #rfu .video_1 {
    width: 400px;

  }
  
  
  
  #rfu .video_2 {
    display: none;
  }
  
  #rfu .video_3 {
    width: 400px;

grid-column: 1 / span 6;
  }
  

}

@media screen and (max-width: 420px) {
  .contact {
      display: none;
  }

  .menu, .vl {
      display: none;
  }


  .media {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-row-gap: 20px;
    box-sizing: border-box;
    padding: 40px 27px 40px 27px;
    }
    
    #ysl .block, #ps .block, #boots .block, #mag .block, #rfu .block {
      padding: 60px 0px 60px 0px;
      width: 280px;
      margin: 0 0px 0 27px;
    
    }




    #ysl .media .img_1 {
      display: grid;
      width: 60%; 
      } 
      
     #ysl .video_1 {
      width: 280px;
      margin-left: 27px;
      padding-left: 0;

      } 
      
      
      #ps .media .img_1 {
        width: 280px;
       
        } 
        
      
      #boots .media .img_1 {
        width: 280px;

      } 
      
      #boots .media .img_2 {
        width: 280px;

      
      } 
      
      #mag .video_1 {
        width: 280px;

      }
      
      #rfu .video_1 {
        width: 280px;

      }
      
      
      
      #rfu .video_2 {
        display: none;
      }
      
      #rfu .video_3 {
        width: 280px;
        grid-column: 1 / span 6;

      }
      


}