@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?l42af8');
  src:  url('/assets/fonts/icomoon.eot?l42af8#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?l42af8') format('truetype'),
    url('/assets/fonts/icomoon.woff?l42af8') format('woff'),
    url('/assets/fonts/icomoon.svg?l42af8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-size: 1.1rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-botany:before {
  content: "\e90b";

}
.icon-meditation:before {
  content: "\e90d";
  font-size: 1.1rem;

}
.icon-saturn:before {
  content: "\e90f";

}
.icon-balsamiq:before {
  font-size: 1.45rem;
  content: "\e900";
  padding-left: 6px;
  padding-right: 8px;


}


.icon-css:before {
  content: "\e901";
  padding-left: 0px;
  font-size: 1.4rem;
}
.icon-html:before {
  content: "\e902";
  padding-left: 0px;
  font-size: 1.4rem;
}
.icon-mural:before {
  content: "\e903";
  font-size: 1.2rem;
}
.icon-ballet:before {
  content: "\e904";
}
.icon-boxing:before {
  content: "\e905";

}
.icon-glove:before {
  content: "\e906";
}
.icon-goggles:before {
  content: "\e907";
}
.icon-mat:before {
  content: "\e908";
  font-size: 1rem;
}


.icon-saddle:before {
  content: "\e909";
  font-size: 1.1rem;

}
.icon-swim:before {
  content: "\e90a";
  font-size: 1.1rem;

}

 #cv .col_1 .fi-brands-github {
  font-size: 1.4rem;
  padding-left: 4px;
}

#cv .fi-brands-figma {
  padding-left: 0px;
  font-size: 1.4rem;

} 

#cv .fi-brands-invision {
  padding-left: 0px;
  font-size: 1.3rem;

} 


#cv .fi-brands-sketch {
  padding-left: 0px;
  font-size: 1.4rem;

} 

#about .fi-sr-guitar {
 color: #cccccc88;
}
#about .fi-rs-physics{
  font-size: 1.3rem;
  padding-right: 16px;
}


.fi-br-menu-burger {
  font-size: 1.3rem;
  padding-right: 0px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  /* .icon-css:before {
    content: "\e901";
    padding-left: 14px;
  }

  #cv .col_2 .fi-brands-github {
    font-size: 1.3rem;
    padding-left: 14px;
  } */


  .icon-botany:before {
    content: "\e90b";
  }


  .icon-meditation:before {
    content: "\e90d";
  
  }

  #about .fi-rr-square-code{
    font-size: 1.3rem;
    padding-left: 8px;
  }


}
