.col_1 ul,
.col_2 ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0%;
  padding-top: 0%;
  margin-left: 0%;
  padding-left: 0%;
  list-style: none;

}


.col_2 i {
  font-size: 1.2rem;
  color: #a6a6a6;
  padding-right: 0px;
  padding-bottom: 0px;

}
/* 
.col_1 {
  grid-column: col 1 / span 3;
  grid-row: row 2;
  padding-bottom: 72px;

}


.col_2 {
  grid-column: col 4 / span 3;
  grid-row: row 2;
  padding-bottom: 72px;

} */


/* .grid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(6, [col] 1fr);
  grid-column-gap: 3em;
  padding: 0px 0px 0px 0px;
  margin: 0;
}  */


/* ABOUT */

#about,
#cv {
  margin: 0px 0px 0px 40px;
}



#about .col_1 {
  grid-column: col 1 / span 3;
  grid-row: row 7;
  padding-top: 52px;

}


#about .col_2 {
  grid-column: col 4 / span 3;
  grid-row: row 7;
  padding-top: 52px;

}


#about .col_3 {
  grid-column: col 7 / span 6;
  grid-row: row 1;
  padding-top: 140px;

}







/* CV */

/* #cv .col_1 {
  grid-column: col 1 / span 3;
  grid-row: row 2;
  padding-top: 60px;

}


#cv .col_2 {
  grid-column: col 4 / span 3;
  grid-row: row 2;
  padding-top: 60px;

} */


#cv .scrollbar {
  grid-column: col 7 / span 6;
  grid-row: row 2;
  padding-top: 0px;
  padding-bottom: 0px;

}


#cv .cv {
  grid-column: col 10 / span 3; 
  grid-row: row 2;
  padding-top: 196px;
  padding-left: 136px;
 

}

/* #cv .clients_title {
  background-color: #212121;
  grid-column: col 7 / span 6; 
  grid-row: row 1;
  padding-top: 120px;

} */


/* CV STYLING */

.cv a {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
  color: white;

}


.cv a:hover {
  opacity: 0.6;
}









/* WORK */

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 3em;
  padding: 0px 40px 0px 40px;
  margin: 0;
}


.container .col_1 {
  grid-column: col 1 / span 4;
  grid-row: row 6;
padding-top: 24px;
}


.container .col_2 {
  grid-column: col 5 / span 4;
  grid-row: row 6;
padding-top: 24px;


}


.container .col_3 {
  grid-column: col 9 / span 4;
  grid-row: row 6;
padding-top: 24px;


}











/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    grid-column-gap: 1em;
    margin: 0px 100px 0px 100px;


  }


}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    grid-column-gap: 1em;
    margin: 0px 60px 0px 60px;
    padding: 0%;


  }

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    grid-column-gap: 1em;
    margin: 0px 20px 0px 20px;


  }

}



/* 
Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



  .grid {
    display: grid;
    height: 74vh;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    margin: 0px 0px 0px 0px;

  }

}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 3em;
    padding: 0px 0px 0px 0px;
    margin: 0;
  } 


  body {
    margin: 0px 0px;
  }


  .links {
    display: none;
  }




/* ABOUT */

#about .col_1 {
  grid-column: col 1 / span 12;
  grid-row: row 6;
  padding-bottom: 40px;

}


#about .col_2 {
  grid-column: col 1 / span 12;
  grid-row: row 5;


} 


#about .col_3 {
  grid-column: col 1 / span 12;
  grid-row: row 2;
  padding-top: 0px;
  margin: 0px 0vh;

}






/* WORK */

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 3em;
  padding: 0px 40px 0px 40px;
  margin: 0;
} 


.container .col_1 {
  grid-column: col 1 / span 12;
  grid-row: row 5;
  height: 21vh;
  padding-bottom: 0%;
  margin-bottom: 0%;
}


.container .col_2 {
  grid-column: col 1 / span 12;
  grid-row: row 6;
  height: 21vh;
  padding-bottom: 0%;
  margin-bottom: 0%;

}


.container .col_3 {
  grid-column: col 1 / span 12;
  grid-row: row 7;
  height: 21vh;
  margin-bottom: 4px;


}



/* CV */

#cv .col_1 {
  grid-column: col 1 / span 12;
  grid-row: row 3;
  margin: 40px 0vh;


}


#cv .col_2 {
  grid-column: col 1 / span 12;
  height: 140px;
  grid-row: row 4;
  padding-bottom: 120px;

}



#cv .cv {
  grid-column: span 6; 
  grid-row: row 2;
  margin-top: -100px;

}


#cv .scrollbar {
  grid-column: col 1 / span 12;
  grid-row: row 1;
  padding-top: 0px;
  margin: 120px 0vh;

}




}