* {
    box-sizing: border-box;
scroll-behavior: smooth;

  }


body {
    
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  width: 98%;



}

body::-webkit-scrollbar {
    display: none;
}


.active {
  opacity: .3;
}

ul  li{
    list-style: circle;
}

h6 {
    margin-bottom: 0px;
    padding-bottom: 8px;
}


p {
    margin-top: 0px;
    padding-top: 0px;
}



img {
    width: 100%;
}

.copy {
 width: 100%;
}





  

  
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {
  width: 100%;
  padding: 0;

}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}
.margin-bot-10 {
  padding-bottom: 10px;
}


#about, #client_list, #skills {
  height: 100vh;
}

/* Typography */
/**************************/
/* #parallax-world-of-ugg h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
  
} */
#about h3 {
    font-family: 'the_new_eleganceCnRg';

    font-size: 3rem;
    line-height: 4rem;
      letter-spacing: 1px;
      z-index: 10;
      color: white;
      text-align: center;
}
/* #parallax-world-of-ugg h3 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#parallax-world-of-ugg p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  
} */




/* Section - Title */
/**************************/
#about .title {
    background: white;
    padding: 120px;
    padding-bottom: 40px;
    padding-top: 160px;
    margin: 0 auto;
    text-align: center;
}
#about .title h1 {
    font-family: 'the_new_eleganceCnRg';
    font-size: 2rem;
    letter-spacing: 1px;
}



/* Section - Block */
/**************************/
#about .block {
background: white;
  padding: 68px 160px 60px 160px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
  padding-right: 80px;
}


#about .block-gray {
    background: white;
  padding: 60px;
}
#about .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  
}


/* Section - Parallax */
/**************************/
#about .parallax-one {
  padding-top: 200px;
  padding-bottom: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-left: 44px;

  height: 100vh;
  background-image: url("/img/homepage.png");
  background-position: 60% 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: black;


  
}
#about .parallax-two {
    padding-top: 200px;
    padding-bottom: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-left: 44px;
  
    height: 100vh;
    background-image: url("/img/homepage.png");    
    background-position: 60% 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: black;

  
    
  }


  .info {
    padding-top: 320px;
  }

/* Extras */
/**************************/
#about .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
  
}






/* Section - Title */
/**************************/


/* Section - Block */
/**************************/
.client_list .block {
    background: rgb(255, 255, 255);
    padding: 60px 160px 60px 160px;
    width: 900px;
      margin: 0 auto;
      text-align: justify;
      padding-right: 0px;
      padding-left: 200px;
    }
    
  
    
    .client_list .block-gray {
      background: black;
      padding: 60px;
    }
    .client_list .section-overlay-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.7;
      
    }


/* Section - Parallax */
/**************************/
.client_list .parallax-one {
    padding-top: 200px;
    padding-bottom: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-left: 44px;
  
  
    height: 100vh;
    background-image: url("/img/homepage.png");    
    background-position: 60% 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: black;

   
  
    
  }

.client_list .parallax-two {
  padding-top: 200px;
  padding-bottom: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-left: 44px;

   
  height: 100vh;
  background-image: url("/img/homepage.png");   
  background-position: 60% 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: black;

 

  
}





.opentab {
    margin-top: 24px;
    height: 34vh;
    overflow-y: scroll;
    padding-right: 20px;
    overflow-x: hidden;
    
    }
    
 
    
    
    
    .opentab hr {
        padding: 0px;
        margin: 0px 0px;
        opacity: .6;
      }



.client_list h4 {
    padding: 0;
    margin: 0;
    font-family: 'neue-haas-grotesk-display';
    font-weight: 600;
    font-style: normal;
    }
    
    
    .client_list p {
    padding-top: 4px;
    padding-bottom: 12px;
    margin: 0;
    }

    hr {
        margin-bottom: 8px;
    }


    /* .skills .block {
            padding-top: 12vh;
    } */


 
/* 
    .skills .copy {
        padding-top: 4vh;
} */


.skills .copy h1 {
    padding-bottom: 8vh;
}


   .skills .copy .languages {
    box-sizing: border-box;
        padding-top: 4vh;
    }

    .square i {
        color: white;
    }


    .below .tooltip .tooltiptext {
      
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
      }


/* Section - Title */
/**************************/

.skills .title h1 {
    font-family: 'the_new_eleganceCnRg';
    font-size: 2rem;
    line-height: 2rem;
      letter-spacing: 1px;
}

/* Section - Block */
/**************************/
.skills .block {
    background: white;
    padding: 120px 0px 120px 40px;
    width: 600px;
    margin: 0 auto;
    text-align: justify;
}







.icon-html {
    padding-top: 6px;
    }
    
    

    
    
    .axure {
    width: 21px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 0;
    margin: 0;
    }
    
    .framer {
    width: 21px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 0;
    margin: 0;
    }
    
    .marvel {
    width: 26px;
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 0;
    margin: 0;
    }
    
    .pin {
    width: 24px;
    padding-left: 7px;
    padding-top: 12px;
    padding-bottom: 0;
    margin: 0;
    }
    
    .square .axure,.framer, .marvel, .pin {
    position: absolute;
    }

    .contact a {
        color: white;
        opacity: 1;
      }
        
      .menu-wrapper .contact {
        position: absolute;
        bottom: 22%;
        right: 1.25%;
      }
      
      .menu-wrapper .contact .square {
        padding: 0px 0px 0px 0px;
        border: 0.5px solid #e6dada3f;
        /* filter: drop-shadow(0 0 0.25rem rgb(129, 129, 129)); */
        outline: none;
        margin: 4px;
        width: 28px;
        height: 28px;
        border-radius: 5px;
        background-color: #2929297b;
        font-weight: 200;
        transition: transform .2s;
      
      
      }
      
      
      .contact .square i {
        position: absolute;
        z-index: 1;
        top: 6px;
        left: 1%;
        margin-left: 6px;
        font-size: .9rem;
      }
      
      .fi-brands-linkedin {
        padding-left: 1px;
      }



      @media screen and (min-width: 1200px) { 

        #about {
          height: 100vh;

        }



/* Section - Block */
/**************************/
#about .block {
  background: white;
    padding: 40px 160px 60px 160px;
    width: 820px;
    margin: 0 auto;
    text-align: justify;
    padding-right: 80px;
  }


        h1 {
          font-size: 6rem;
          letter-spacing: 1px;
          line-height: 4.5rem;
        }
    
        .languages {
          padding-top: 12px;
         }


  .info {
align-self: flex-end;
padding-top: 2vh;
  }


        #about .parallax-one, #clint_list .parallax-one, #skills .parallax-one  {
        background-size: 70%;
      }
      
      
      #about .parallax-two, #client_list .parallax-two, #skills .parallax-two  {
        background-size: 70%;
      }
      
      
      #about .parallax-three, #client_list .parallax-three, #skills .parallax-three  {
        background-size: 70%;
      }

    }

/* Media Queries */
/**************************/
@media screen and (max-width: 1200px) and (min-width: 768px) {

 .languages {
  padding-top: 12px;
 }


    #about .parallax-one, #about .parallax-two, #about .parallax-three {
        padding-top: 200px;
        padding-bottom: 200px;
        overflow: hidden;
        position: relative;
        width: 96%;
        margin-left: 3.8%;
        height: 100vh;

        background-image: url("/img/background.jpg");    
        background-position: 60% 90%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 84%;
        background-color: black;

      
        
      }

      .client_list .parallax-one, .client_list .parallax-two, .client_list .parallax-three {
        padding-top: 200px;
        padding-bottom: 200px;
        overflow: hidden;
        position: relative;
        width: 96%;
        margin-left: 3.8%;
      
        height: 100vh;
        background-image: url("/img/background.jpg");    
        background-position: 60% 90%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 84%;
        background-color: black;

      
        
      }

      .skills .parallax-one, .skills .parallax-two, .skills .parallax-three {
        padding-top: 200px;
        padding-bottom: 200px;
        overflow: hidden;
        position: relative;
        width: 96%;
        margin-left: 3.8%;
      
        height: 100vh;
        background-image: url("/img/background.jpg");    
        background-position: 60% 90%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 84%;
        background-color: black;

       
      
        
      }




    #about .block {
      padding: 40px;
      padding-left: 100px;
      width: 620px;
      padding-top: 60px;
      /* background-color: aqua; */
    }

    h1 {
      font-size: 5rem;
      letter-spacing: 1px;
      line-height: 4rem;
    }




  .info {
    padding-top: 12px;
  }



    .client_list .block {
      padding: 40px;
      padding-left: 100px;
      width: 620px;
      padding-top: 60px;
        /* background-color: aqua; */
      }

      .skills .block {
        padding: 40px;
        padding-left: 100px;
        width: 620px;
        padding-top: 60px;

        /* background-color: aqua; */
      }



    
  }



  
  @media screen and (max-width: 767px) {




     #about .parallax-one, #about .parallax-two, #about .parallax-three {
        padding-top: 200px;
        padding-bottom: 200px;
        overflow: hidden;
        position: relative;
        width: 94%;
        margin-left: 8%;
      
        height: 60vh;
        background-image: url("/img/background.jpg");    
        background-position: 60% 86%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 84%;
        background-color: black;

      
        
      }

      .client_list .parallax-one, .client_list .parallax-two, .client_list .parallax-three {
        padding-top: 200px;
        padding-bottom: 200px;
        overflow: hidden;
        position: relative;
        width: 92%;
        margin-left: 8%;
      
        height: 100vh;
        background-image: url("/img/background.jpg");    
        background-position: 60% 90%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 160%;
        background-color: black;

      
        
      }


      .skills .parallax-one, .skills .parallax-two, .skills .parallax-three {
        padding-top: 200px;
        padding-bottom: 200px;
        overflow: hidden;
        position: relative;
        width: 92%;
        margin-left: 8%;
        

        height: 100vh;
        background-image: url("/img/background.jpg");    
        background-position: 60% 90%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 160%;
       background-color: black;
      
        
      }


      #about .title,  .client_list .title,  .skills .title {
        background: white;
        padding: 120px;
        padding-bottom: 40px;
        margin-top: 12vh;
       
        /* margin: 0 auto; */
        text-align: center;
    }


    #about .block {
        padding: 52px 0px 120px 20px;
        width: 420px;
    }


    h1 {
      font-size: 5.5rem;
      letter-spacing: 1px;
      line-height: 3rem;
    }

    .info {
      padding-top: 12px;
    }

      .skills .block {
        padding: 120px 0px 120px 0px;
        width: 480px;
      }


      .client_list .block {
        padding: 120px 0px 120px 60px;
        width: 520px;
    }
    
  


    #about h2 {
      font-size: 30px;
    }
 
    #about .parallax-one,
    #about .parallax-two,
    #about .parallax-three {
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 8%;

    }

    .client_list .parallax-one,
    .client_list .parallax-two,
    .client_list .parallax-three {
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 8%;

    }


    .skills .parallax-one,
    .skills .parallax-two,
    .skills .parallax-three {
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 8%;
    }

        /* Section - Block */
/**************************/
.client_list .block {
    padding-top: 60px;

    }


    .contact {
      display: none;
     }
    


  }


  @media screen and (max-width: 479px) {


  
 .contact {
  display: none;
 }





    #about .block {
      margin: 0px;
      padding: 0px;
      padding-left: 16%;
      padding-top: 40px;
      width: 420px;
    }

    .info {
      padding-top: 0px;
    }

    .client_list .block {
      margin: 0px;
      padding: 0px;
      padding-left: 12%;
      padding-top: 60px;
      width: 400px;
      }


    


      .skills .block {
        margin: 0px;
      padding: 0px;
      padding-left: 12%;
      padding-top: 60px;
      width: 400px;
      }


  }

 







