* {
    box-sizing: border-box;
scroll-behavior: smooth;

  }


body {
    
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 100vh;
    color: white;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(29, 29, 29) 0%, rgb(0, 0, 0) 99.4%);    



}

body::-webkit-scrollbar {
    display: none;
}


navigation {
color:#666666;
opacity: 1;
}


h5 {
  padding-bottom: 12px;
}

.vl {
  z-index: 1;

}


.websiteFrame {
  position: fixed;
  z-index: 990;
  background-color: white;
}

#websiteFrameTop {
  top: 0;
  left: 4px;
  right: 4px;
  width: 100%;
  height: 44px;
  /* border-bottom: 0.5px solid #afa5a58b; */
  background-color: #0000000a;
  backdrop-filter: blur(10px);
  z-index: 1;
  border-top: 4px solid white ;
}

#websiteFrameRight {
  top: 0;
  bottom: 0;
  right: 0;
  width: 4px;
}

#websiteFrameBottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

#websiteFrameLeft {
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
}

.menu-wrapper .contact {
  /* vertical-align: top; */
  transform: translate(0,100%) rotate(0deg);
  /* white-space: nowrap; */
  right: 1.5%;
  text-decoration: none;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  bottom: 85vh;
  justify-content: space-evenly;
  /* height: 30vh; */
}


.info .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #767473;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  font-size: .6rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.info .square a{
  color: white;
  opacity: 1;
 
}





.right {
  float: right;
}


#about {
  background-color: #f1f2f6;
  background-image: linear-gradient(45deg, #eeeeee, #faf8f9, #ffffff);
  color: rgb(82, 82, 82);
}

.fi-rr-chevron-double-down {
  position: fixed;
  bottom: 4%;
  right: 40px;
  /* margin: auto; */
  font-size: 1rem;
  color: black;
  
}







.vl {
display: none;
}




#cv {
display: grid;
grid-template-columns: repeat(12, auto);
/* grid-template-rows: repeat(4, auto); */
row-gap: 0px;
column-gap: 20px;
box-sizing: border-box;
/* background-color: #8cffa0; */
height: 100vh;
padding: 8% 4% 2% 12%;
}




.clients {
grid-column: 5 / span 8;
grid-row: 3;
box-sizing: border-box;
/* padding-top: 12vh; */

}

.clients_h {
grid-column: 1 / span 4;
grid-row: 3;
align-self: flex-end;
padding-top: 0px;
}

.clients h5 hr {
margin-top: 16px;
margin-bottom: 16px;
}

#skills {
display: grid;
grid-template-columns: repeat(12, auto);
/* grid-template-rows: repeat(4, auto); */
row-gap: 0px;
column-gap: 40px;
box-sizing: border-box;
/* background-color: #8cffa0; */
height: 100vh;
padding: 10% 4% 1% 12%;
}

.skills_h {
grid-column: 1 / span 4;
grid-row: 2;

}



.skills_design {
grid-column: 4 / span 6;
grid-row: 7;


}


.skills_dev {
grid-column: 10 / span 5;
grid-row: 6;
padding-top: 20px;
width: 100%;

}

.skills_wire {
grid-column: 10 / span 5;
grid-row: 7;


}

.icon-html {
padding-top: 6px;
}



.languages {
grid-column: 1 / span 3;
grid-row: 7;
padding-top: 0vh; 


}


.axure {
width: 21px;
padding-left: 8px;
padding-top: 8px;
padding-bottom: 0;
margin: 0;
}

.framer {
width: 21px;
padding-left: 10px;
padding-top: 8px;
padding-bottom: 0;
margin: 0;
}

.marvel {
width: 26px;
padding-left: 6px;
padding-top: 8px;
padding-bottom: 0;
margin: 0;
}

.pin {
width: 24px;
padding-left: 7px;
padding-top: 12px;
padding-bottom: 0;
margin: 0;
}

.square .axure,.framer, .marvel, .pin {
position: absolute;
}


.opentab {
margin-top: 24px;
height: 40vh;
overflow-y: scroll;
padding-right: 20px;
overflow-x: hidden;

}

.cv {
padding-top: 40px;
width: auto;
}



.opentab hr {
    padding: 0px;
    margin: 0px 0px;
    opacity: .6;
  }




.cv {
float: left;
font-size: .9rem;
padding-top: 20px;
margin-bottom: 0rem;
text-decoration: underline rgba(255, 255, 255, 0.259);
text-underline-offset: 6px;
text-decoration-thickness: 0.25px;

}


#cv h4 {
padding: 0;
margin: 0;
font-family: 'neue-haas-grotesk-display';
font-weight: 600;
font-style: normal;
}


#cv p {
padding-top: 4px;
padding-bottom: 12px;
margin: 0;
}



#about {
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 80px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
 height: 100vh;
  padding: 10% 6% 6% 12%;
}

.info {
  grid-column: 3 / span 3;
  grid-row: 2;
  padding-bottom: 12px;
  align-self: flex-end;
  z-index: 0;

}

.copy {
  grid-column: 1;
  grid-row: 1;
 width: 80%;


}




.big {
grid-column: 1 / span 4;
grid-row: 2;
padding-top: 34vh;


}

/* .big h1 {
font-size: 6rem;
} */



@media only screen and (min-width: 992px) and (max-width: 1300px){



  #about {
    display: grid;
    grid-template-columns: repeat(6, auto);
    /* grid-template-rows: repeat(4, auto); */
    row-gap: 40px;
    column-gap: 60px;
    box-sizing: border-box;
    /* background-color: #8cffa0; */
   height: 100vh;
    padding: 10% 6% 0% 12%;
  }

  .info {
    grid-column: 3 / span 3;
    grid-row: 4;
    padding-bottom: 20px;
   
    /* background-color:cadetblue; */
    /* text-align: right; */

  }

  /* .info p {
    text-align: right;
  } */


.copy {
  width: 100%;
}

.big {
  grid-column: 1 / span 4;
  grid-row: 4;
  padding-top: 20vh;


}






#cv {
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 20px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
  height: 100vh;
  padding: 6% 6% 0% 12%;
  }
  
  
  
  
  .clients {
  grid-column: 1 / span 8;
  grid-row: 1;
  box-sizing: border-box;
  padding-top: 6vh;
  
  }
  
  .clients_h {
  grid-column: 1 / span 4;
  grid-row: 5;
  }

.clients_h {
  grid-column: 1 / span 4;
  grid-row: 5;
}

.clients h5 hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

#skills {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 0px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
  height: 100vh;
  padding: 8% 8% 2% 12%;
}

.skills_h {
  grid-column: 1 / span 4;
  grid-row: 8;

  align-self: flex-end;
  padding-bottom: 0px;
}



.skills_design {
  grid-column: 1 / span 4;
  grid-row: 2;


}


.skills_dev {
  grid-column: 1 / span 4;
  grid-row: 4;


}

.skills_wire {
  grid-column: 1 / span 4;
  grid-row: 3;


}

.icon-html {
  padding-top: 6px;
}



.languages {
  grid-column: 1 / span 4;
  grid-row: 5;
  padding-top: 0vh; 

}


}


@media only screen and (min-width: 768px) and (max-width: 992px){


  #about {
    display: grid;
    grid-template-columns: repeat(6, auto);
    /* grid-template-rows: repeat(4, auto); */
    row-gap: 40px;
    column-gap: 40px;
    box-sizing: border-box;
    /* background-color: #8cffa0; */
   height: 100vh;
    padding: 10% 6% 2% 12%;
  }

  .info {
    grid-column: 1 / span 4;
    grid-row: 3;
    padding-bottom: 0px;
    /* text-align: right; */

  }

  /* .info p {
    text-align: right;
  } */

  .copy {
    grid-column: 3 / span 4;
    grid-row: 1;
width: 100%;

    /* width: 80%; */

  
  }


.big {
  grid-column: 1 / span 4;
  grid-row: 2;
  padding-top: 0vh;


}





#cv {
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 20px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
  height: 100vh;
  padding: 6% 6% 0% 12%;
  }
  
  
  
  
  .clients {
  grid-column: 1 / span 8;
  grid-row: 1;
  box-sizing: border-box;
  padding-top: 6vh;
  
  }
  
  .clients_h {
  grid-column: 1 / span 4;
  grid-row: 5;
  }

.clients_h {
  grid-column: 1 / span 4;
  grid-row: 5;
}

.clients h5 hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

#skills {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 0px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
  height: 100vh;
  padding: 8% 8% 2% 12%;
}

.skills_h {
  grid-column: 1 / span 4;
  grid-row: 8;

  align-self: flex-end;
  padding-bottom: 0px;
}



.skills_design {
  grid-column: 1 / span 4;
  grid-row: 2;


}


.skills_dev {
  grid-column: 1 / span 4;
  grid-row: 4;


}

.skills_wire {
  grid-column: 1 / span 4;
  grid-row: 3;


}

.icon-html {
  padding-top: 6px;
}



.languages {
  grid-column: 1 / span 4;
  grid-row: 5;
  padding-top: 0vh; 

}


}

@media only screen and (min-width: 600px) and (max-width: 768px){





  #about {
    display: grid;
    grid-template-columns: repeat(6, auto);
    /* grid-template-rows: repeat(4, auto); */
    row-gap: 40px;
    column-gap: 40px;
    box-sizing: border-box;
    /* background-color: #8cffa0; */
    height: 100vh;
    padding: 6% 6% 4% 12%;
  }

  .info {
    grid-column: 1 / span 4;
    grid-row: 3;
    /* padding-bottom: 120px; */
    /* text-align: right; */

  }

  /* .info p {
    text-align: right;
  } */

  .copy {
    grid-column: 1 / span 6;
    grid-row: 2;
width: 100%;

    /* width: 80%; */

  
  }


.big {
  grid-column: 1 / span 4;
  grid-row: 1;
  padding-top: 6vh;


}


.vl {
  display: none;
}




#cv {
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 20px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
  height: 100vh;
  padding: 6% 6% 0% 12%;
  }
  
  
  
  
  .clients {
  grid-column: 1 / span 8;
  grid-row: 1;
  box-sizing: border-box;
  padding-top: 6vh;
  
  }
  
  .clients_h {
  grid-column: 1 / span 4;
  grid-row: 5;
  }

.clients_h {
  grid-column: 1 / span 4;
  grid-row: 5;
}

.clients h5 hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

#skills {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 0px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
  height: 100vh;
  padding: 16% 8% 2% 12%;
}

.skills_h {
  grid-column: 1 / span 4;
  grid-row: 8;

  align-self: flex-end;
  margin-bottom: 0px;
}



.skills_design {
  grid-column: 1 / span 4;
  grid-row: 2;


}


.skills_dev {
  grid-column: 1 / span 4;
  grid-row: 4;


}

.skills_wire {
  grid-column: 1 / span 4;
  grid-row: 3;


}

.icon-html {
  padding-top: 6px;
}



.languages {
  grid-column: 1 / span 4;
  grid-row: 5;
  padding-top: 0vh; 


}

.icon-html {
  padding-top: 6px;
}

.axure {
  width: 21px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 0;
  margin: 0;
}

.framer {
  width: 21px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 0;
  margin: 0;
}

.marvel {
  width: 26px;
  padding-left: 6px;
  padding-top: 8px;
  padding-bottom: 0;
  margin: 0;
}

.pin {
  width: 24px;
  padding-left: 7px;
  padding-top: 12px;
  padding-bottom: 0;
  margin: 0;
}

.square .axure,.framer, .marvel, .pin {
  position: absolute;
}


.opentab {
  margin-top: 40px;
  height: 30vh;
  overflow-y: scroll;
  padding-right: 20px;
  overflow-x: hidden;

  }

.cv {
  padding-top: 40px;
width: auto;
}



}

@media only screen and (min-width: 400px) and (max-width: 600px) {



  #about {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* grid-template-rows: repeat(4, auto); */
    row-gap: 0px;
    column-gap: 0px;
    box-sizing: border-box;
    /* background-color: #8cffa0; */
    min-height: 150vh;
    padding: 6% 6% 0% 12%;
  }

  .info {
    grid-column: 1 / span 4;
    grid-row: 3;
    padding-top: 0vh;
    /* text-align: right; */

  }

  /* .info p {
    text-align: right;
  } */

  .copy {
    grid-column: 1 / span 4;
    grid-row: 7;
    width: 94%;



    /* width: 80%; */

  
  }


.big {
  grid-column: 1 / span 4;
  grid-row: 1;
  padding-top: 34vh;


}

.big h1 {
 font-size: 6rem;


}

.vl {
  display: none;
}




#cv {
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 0px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
  height: 100vh;
  padding: 14% 4% 2% 12%;
}




.clients {
  grid-column: 1 / span 4;
  grid-row: 1;
  box-sizing: border-box;
  padding-top: 6vh;
 
}

.clients_h {
  grid-column: 1 / span 4;
  grid-row: 5;
  padding-top: 80px;

}

.clients h5 hr {
  margin-top: 16px;
  margin-bottom: 16px;
}

#skills {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* grid-template-rows: repeat(4, auto); */
  row-gap: 0px;
  column-gap: 0px;
  box-sizing: border-box;
  /* background-color: #8cffa0; */
  height: 100vh;
  padding: 16% 8% 2% 12%;
}

.skills_h {
  grid-column: 1 / span 4;
  grid-row: 8;

  align-self: flex-end;
  margin-bottom: 0px;
}



.skills_design {
  grid-column: 1 / span 4;
  grid-row: 2;


}


.skills_dev {
  grid-column: 1 / span 4;
  grid-row: 4;


}

.skills_wire {
  grid-column: 1 / span 4;
  grid-row: 3;


}

.icon-html {
  padding-top: 6px;
}



.languages {
  grid-column: 1 / span 4;
  grid-row: 5;
  padding-top: 0vh; 


}


.axure {
  width: 21px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 0;
  margin: 0;
}

.framer {
  width: 21px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 0;
  margin: 0;
}

.marvel {
  width: 26px;
  padding-left: 6px;
  padding-top: 8px;
  padding-bottom: 0;
  margin: 0;
}

.pin {
  width: 24px;
  padding-left: 7px;
  padding-top: 12px;
  padding-bottom: 0;
  margin: 0;
}

.square .axure,.framer, .marvel, .pin {
  position: absolute;
}


.opentab {
  margin-top: 24px;
  height: 30vh;
  overflow-y: scroll;
  padding-right: 20px;
  overflow-x: hidden;

  }

.cv {
  padding-top: 40px;
width: auto;
}

section .bg {
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
.websiteFrame {
  position: fixed;
  z-index: 990;
  background-color: white;
}

/* #websiteFrameTop {
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #cdcdcd83;
  backdrop-filter: blur(4px);
  z-index: 1;
} */

#websiteFrameRight {
  top: 0;
  bottom: 0;
  right: 0;
  width: 0px;
}

#websiteFrameBottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
}

#websiteFrameLeft {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
}




}





