* {
    box-sizing: border-box;

  }


body {
    
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 100vh;
    color: white;



}

body::-webkit-scrollbar {
    display: none;
}





.websiteFrame {
    position: fixed;
    z-index: 990;
    background-color: white;
}

#websiteFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

#websiteFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 4px;
}

#websiteFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

#websiteFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
}


navigation {
    position: fixed;
    top: 0;
    left: 8%; 
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 80px;
    }
    
    navigation a {
        float: left;
        text-decoration: none;
        text-align: center;
        margin: 0px 20px 0px;

    }

    navigation button {
    position: fixed;
    top: 20%;
    right: 12%;      
    }



  #about {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 40px;
    box-sizing: border-box;
    /* background-color: #8cffa0; */
    height: 100vh;
    padding: 60px 6%;
  }
  
  /* #about > div {
background-color: aqua;
  } */

.copy {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    width: 80%;
}

.info {
    grid-column: 5 / span 2;
    grid-row: 3;
    box-sizing: border-box;
    padding-top: 20vh; 

}


/* .big {
    grid-column: 1 / span 2;
    grid-row: 2;
} */



#cv {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 20px;
    box-sizing: border-box;
    /* background-color: #8cffa0; */
    min-height: 100vh;
    padding: 60px 6%;
    padding-bottom: 160px;

  }
  
 

.skills {
    grid-column: 1 / span 2;
    grid-row: 3;
    /* width: 90%; */

}


.languages {
    grid-column: 1 / span 3;
    grid-row: 4;
    width: 86%;
    box-sizing: border-box;
padding-bottom: 60px;
}

.clients {
    grid-column: 4 / span 3;
    grid-row: 1 / span 3;
    box-sizing: border-box;
    padding-top: 80px;
  }



.opentab {
    margin-top: 32px;
    height: 36vh;
    overflow-y: scroll;
    /* padding-right: 24px; */
    overflow-x: hidden;
  
    }
  
  .opentab hr {
      padding: 0px;
      margin: 0px 0px;
      opacity: .6;
    }
  
.cv {
    grid-column: 4 / span 3;
    grid-row: 4;
   
  }



/* .big {
    grid-column: 1 / span 3;
    grid-row: 1;
box-sizing: border-box;
padding-top: 14vh;

} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}



  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        overflow-x: hidden;

    }

    #about {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
        grid-gap: 20px;
        box-sizing: border-box;
        /* background-color: #8cffa0; */
        min-height: 100vh;
        padding: 24% 8% 0% 16%;

      }
      
      /* #about > div {
    background-color: aqua;
      } */
    
    .copy {
        grid-column: 1 / span 5;
        grid-row: 1 /span 4;
        width: 100%;
    }
    
    .info {
        grid-column: 1 / span 5;
        grid-row: 5;
        box-sizing: border-box;
        padding-top: 0vh; 
        width: 100%;

    
    }



    #cv {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
        grid-gap: 20px;
        box-sizing: border-box;
        /* background-color: #8cffa0; */
        min-height: 100vh;
        padding: 20% 6% 0% 16%;
    
      }
 



.skills {
    grid-column: 1 / span 5;
    grid-row: 5;
    width: 100%;

}


.languages {
    grid-column: 1 / span 5;
    grid-row: 6;
    width: 100%;
    box-sizing: border-box;
padding-bottom: 60px;
}

.clients {
    grid-column: 1 / span 5;
    grid-row: 1 / span 3;
    box-sizing: border-box;
    padding-top: 60px;

  }



.opentab {
    margin-top: 32px;
    height: 36vh;
    overflow-y: scroll;
    /* padding-right: 24px; */
    overflow-x: hidden;
  
    }
  
  .opentab hr {
      padding: 0px;
      margin: 0px 0px;
      opacity: .6;
    }
  
.cv {
    grid-column: 1 / span 3;
    grid-row: 4;
   
  }
    
}



