
* {
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: none;
    /* margin-right: 2%; */
    /* overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none; */
}


body {
    color: #666666;
    background-color: white;

}


navigation {
width: 100%;
    /* color: #666666; */
    mix-blend-mode: exclusion;
    background-color: rgba(15, 15, 15, 0.543);
    backdrop-filter: blur(10px);

  }
/* Override UGG site */
#main {
  width: 100%;
  padding: 0;
}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-20 {
    padding-top: 20px;
}

.margin-top-60 {
    padding-top: 60px;
}

.margin-bot-10 {
    padding-bottom: 10px;
}

.margin-bot-20 {
    padding-bottom: 20px;
}

/* Typography */
/**************************/
/* #parallax-world-of-ugg h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
} */
#about h2, #clients h2, #skills h2 {
    font-family: 'the_new_eleganceCnRg';
  font-size: 90px;
  line-height: 160px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  font-weight: 400;
  z-index: 10;
  opacity: 0.9;
}
#about h3, #clients h3, #skills h3 {
    font-family: 'NeueHaasGroteskDisplay45Light';
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#about p, #clients p, #skills p {
    font-family: 'NeueHaasGroteskDisplay45Light';
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}


/* Section - Title */
/**************************/
#about .title, #clients .title, #skills .title {
  background: white;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}
#about .title h1, #clients .title h1, #skills .title h1 {
    font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#about .block {
  background: white;
  padding: 60px;
  width: 820px;
  margin: 0 auto;
  text-align: justify;
}

#clients .block {
    background: white;
    padding: 60px;
    width: 820px;
    margin: 0 auto;
    text-align: justify;
  }

  #skills .block {
    background: white;
    padding: 60px;
    width: 820px;
    margin: 0 auto;
    text-align: justify;
  }


#about .block-gray, #clients .block-gray, #skills .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
#about .section-overlay-mask, #clients .section-overlay-mask, #skills .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

/* Section - Parallax */
/**************************/
#about .parallax-one {
  padding-top: 244px;
  padding-bottom: 244px;
  overflow: hidden;
  position: relative;
  width: 100%;

  background-image: url("/img/parallax.png");
  background-attachment: fixed;
  background-size: 100%;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
#clients .parallax-two {
    padding-top: 244px;
    padding-bottom: 244px;
    overflow: hidden;
    position: relative;
    width: 100%;

  background-image: url("/img/parallax.png");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#skills .parallax-three {
    padding-top: 244px;
    padding-bottom: 244px;
    overflow: hidden;
    position: relative;
    width: 100%;

  background-image: url("/img/parallax.png");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#contact .parallax-one {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;

  background-image: url("/img/parallax.png");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.details {
  /* background-color: rgba(0, 0, 0, 0.543);
  backdrop-filter: blur(10px);
  border-radius: 50px; */
  width: 280px;
  display: flex;
 margin: auto;
  justify-content: space-evenly;
  align-items: center;
  height: 320px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev-section, .next-section {
  display:inline-block;
  z-index: 990;
  margin:10px;
}


/* Tabs */
/**************************/

.opentab hr {
    padding: 0px;
    margin: 0px 0px;
    opacity: 1;
}



.opentab h4 {
    padding: 0;
    margin: 0;
    font-family: 'neue-haas-grotesk-display';
    font-weight: 600;
    font-style: normal;
}


.opentab p {
    padding-top: 0px;
    padding-bottom: 12px;
    margin: 0;
}

hr {
    margin-bottom: 8px;
}



/* square */
/**************************/

.square i {
    color: white;
}

.icon-html {
    padding-top: 6px;
}

.axure {
    width: 14px;
    padding-left: 8.5px;
    padding-top: 8.5px;
    padding-bottom: 0;
    margin: 0;
}

.framer {
    width: 14px;
    padding-left: 9px;
    padding-top: 8px;
    padding-bottom: 0;
    margin: 0;
}

.marvel {
    width: 21px;
    padding-left: 6px;
    padding-top: 9px;
    padding-bottom: 0;
    margin: 0;
}

.pin {
    width: 21px;
    padding-left: 5px;
    padding-top: 13px;
    padding-bottom: 0;
    margin: 0;
}

.square .axure,
.framer,
.marvel,
.pin {
    position: absolute;
}

.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #767473;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0;
    font-size: .6rem;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  
  .tooltip:hover .tooltiptext:hover {
    visibility: visible;
  }



.contact a {
    color: white;
    opacity: 1;
  }
    
  .menu-wrapper .contact {
    position: absolute;
    bottom: 200px;
    right: 20px;
  }
  
  .menu-wrapper .square {
    padding: 0px 0px 0px 0px;
    border: 0.5px solid #e6dada3f;
    /* filter: drop-shadow(0 0 0.25rem rgb(129, 129, 129)); */
    outline: none;
    margin: 4px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background-color: #2929297b;
    font-weight: 200;
    transition: transform .2s;
  
  
  }
  
  
  .contact .square i {
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 1%;
    margin-left: 6px;
    font-size: .9rem;
  }
  
  .fi-brands-linkedin {
    padding-left: 1px;
  }


/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #about .block {
    padding-bottom: 40px;
    padding-left: 64px;
    width: 700px;
  }

  #clients .block {
    padding-bottom: 40px;
    padding-left: 64px;
    width: 700px;
  }

  #skills .block {
    padding-bottom: 40px;
    padding-left: 64px;
    width: 700px;
  }

  #about h2, #clients h2, #skills h2 {
    font-family: 'the_new_eleganceCnRg';
  font-size: 70px;
  line-height: 120px;
  letter-spacing: 2px;
  padding-right: 6px;

}

/* Section - Parallax */
/**************************/
#about .parallax-one, #clients .parallax-two,  #skills .parallax-three, #skills .parallax-four {
    padding-top: 244px;
    padding-bottom: 244px;

    margin-top: 44px;
    background-position: bottom right;
  }

}
@media screen and (max-width: 767px) {

.contact {
    display: none;
}
  #about .block, #clients .block, #skills .block {
    padding-left: 34px;
    width: 440px;
    padding-right: 0;
  }
  #about h2, #clients h2, #skills h2 {
    font-size: 30px;
  }

  #about h2, #clients h2, #skills h2 {
    font-family: 'the_new_eleganceCnRg';
  font-size: 56px;
  line-height: 90px;
  letter-spacing: 2px;
  padding-right: 6px;

}

/* Section - Parallax */
/**************************/
#about .parallax-one, #clients .parallax-two,  #skills .parallax-three, #skills .parallax-four {
    padding-top: 124px;
    padding-bottom: 144px;

    margin-top: 44px;
    background-position: bottom right;
  }

}

@media screen and (max-width: 600px) {
    .contact {
        display: none;
    }

    .menu, .vl {
        display: none;
    }
    #about .block, #clients .block, #skills .block {
    padding-left: 26px;
    padding-right: 0px;
    margin: 0;
    width: 440px;
  }

  #about h2, #clients h2, #skills h2 {
    font-family: 'the_new_eleganceCnRg';
  font-size: 56px;
  line-height: 90px;
  letter-spacing: 2px;
  padding-right: 6px;

}

/* Section - Parallax */
/**************************/
#about .parallax-one, #clients .parallax-two,  #skills .parallax-three, #skills .parallax-four {
    padding-top: 44px;
    padding-bottom: 74px;

    margin-top: 64px;
    background-position: bottom right;
  }

  



}



@media screen and (max-width: 479px) {
    .contact {
        display: none;
    }

    .menu, .vl {
        display: none;
    }
    #about .block, #clients .block, #skills .block {
    padding-left: 26px;
    padding-right: 0px;
    margin: 0;
    width: 280px;
  }






}

@media screen and (max-width: 420px) {
    .contact {
        display: none;
    }

    .menu, .vl {
        display: none;
    }
    #about .block, #clients .block, #skills .block {
    padding-left: 26px;
    padding-right: 0px;
    margin: 0;
    width: 280px;
  }

  #skills .square {
    padding: 0px 0px 0px 0px;
    border: 0.5px solid #e6dada3f;
    /* filter: drop-shadow(0 0 0.25rem rgb(129, 129, 129)); */
    outline: none;
    margin: 0px 2px 0px 0px;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: #2929297b;
    font-weight: 200;
    transition: transform .2s;
  
  
  }

/* Section - Parallax */
/**************************/
#about .parallax-one, #clients .parallax-two,  #skills .parallax-three, #skills .parallax-four {
    padding-top: 124px;
    padding-bottom: 144px;

    margin-top: 64px;
    background-position: bottom right;
  }


#skills .square i {
  position: absolute;
  z-index: 1;
  top: 6.5px;
  left: 0%;
  margin-left: 6.5px;
  font-size: .8rem;
}

.axure {
    width: 12px;
    padding-left: 6.5px;
    padding-top: 7px;
    padding-bottom: 0;
    margin: 0;
}

.framer {
    width: 12px;
    padding-left: 7px;
    padding-top: 6px;
    padding-bottom: 0;
    margin: 0;
}

.marvel {
    width: 16px;
    padding-left: 6px;
    padding-top: 7.5px;
    padding-bottom: 0;
    margin: 0;
}

.pin {
    width: 21px;
    padding-left: 3px;
    padding-top: 9px;
    padding-bottom: 0;
    margin: 0;
}

#about h2, #clients h2, #skills h2 {
    font-family: 'the_new_eleganceCnRg';
  font-size: 56px;
  line-height: 90px;
  letter-spacing: 2px;
  padding-right: 6px;

}


}