
main {
  display: flex;
  flex-direction: column;
  margin: 0px 40px 0px 40px;

}

 
body {
  color: #7e7e7e;
}

main > section {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: repeat(auto [row] auto);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  margin: 0px 60px;
  padding-top: 68px;
  padding-bottom: 46px;
  /* grid-row-gap: 1rem; */


}

section {
  min-height: 100vh;
}

img {
  width: 100%;
}


ul {
  list-style: none;
  padding-left: 0px;
}

.nav_numbers {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  position: fixed;
  left: 44px;
  top: 39.5%;
 
 
 }
 

 button {
  position: relative;
  width: 120px;
  height: 42px;
  top: 16px;
  left: 0px;
  right: 0px;
  border-radius: 0px;
  border: 1px solid #818181;
  color: #7e7e7e;
  font-weight: 300;
  background-color: transparent;
  opacity: .7;
}

button:hover {
  background-color: #7e7e7e;
  border: none;
  color: white;
  opacity: 1;
}

button a:hover {
padding: 8px;
opacity: 1;


}



.copy div:nth-child(2) {
    display: flex; 
    justify-content: space-between;
    padding: 16px 0px;
} 



#expand, #expand_1, #expand_2, #expand_3, #expand_4, #expand_5 {
  position: sticky;
}



#expand, #expand_1, #expand_2, #expand_3, #expand_4, #expand_5 {
  display:none;
} 




#expand:target, #expand_1:target, #expand_2:target, #expand_3:target, #expand_4:target, #expand_5:target {
display: grid;

} 



#expand_1 {
  padding-top: 60px;
}

#expand_2 {
  padding-top: 60px;
}

#expand_3 {
  padding-top: 60px;
}

#expand_4 {
  padding-top: 60px;
}

#expand_5 {
  padding-top: 60px;
}



h2 {
  font-size: 2.25em;
  letter-spacing: -0.5px;
  font-weight: 100;
  line-height: 2rem;
}





h4 {
  font-size: 1.25em;
  letter-spacing: -0.2px;
  font-weight: 300;

}

h5 {
  font-size: 1.15em;
  letter-spacing: 0px;

}


h6 {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-weight: 200;
  text-align: left;

}


p {
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 200;
  text-align: justify;

}


#first div:nth-child(1) {
    grid-column: col 1 / span 3;
    grid-row: 1;

}


#first .copy {
    grid-column: col 1 / span 5;
    grid-row: 3;

    
} 


#first div:nth-child(3) {
  grid-column: col 7 / span 6;
  grid-row: 2;
  padding-top: 20%;



  
} 




#second div:nth-child(1) {
    grid-column: col 1 / span 6;
    grid-row: 1;
    
  }

#second .copy {
  grid-column: col 1 / span 5;
  grid-row: 2; 
  padding-top: 0px;

}


  


#second div:nth-child(3) {
  grid-column: col 7 / span 6;
  grid-row: 3;
  padding-top: 0px;

  
}
 



 #third div:nth-child(1) {
    grid-column: col 1 / span 4;
    grid-row: 1;
  } 



  #third div:nth-child(2) {
    grid-column: col 1 / span 7;
    grid-row: 3;
    padding-top: 20px;

    
  } 



 #third .copy {
    grid-column: col 8 / span 6;
    grid-row: 2;

  }








  #fourth div:nth-child(1) {
    grid-column: col 8 / span 7;
    grid-row: 1;
}

  #fourth .copy {
    grid-column: col 1 / span 6;
    grid-row: 2;
    padding-top: 0px;  

  }






  #fifth div:nth-child(1) {
    grid-column: col 1 / span 5;
    grid-row: 1;
  }

  #fifth .copy {
    grid-column: col 1 / span 5;
    grid-row: 3;
    padding-top: 0px;
  }


 

/* 
  #fifth div:nth-child(2) {
    grid-column: col 1 / span 7;
    grid-row: 3;
    padding-top: 240px;

  } */

  #fifth div:nth-child(3) {
    grid-column: col 8 / span 5;
    grid-row: 4;

  }


  #fifth div:nth-child(4) {
    grid-column: col 6 / span 7;
    grid-row: 2;
    padding-top: 0px;

  }


  #fifth div:nth-child(5) {
    grid-column: col 1 / span 5;
    grid-row: 5;

  }








@keyframes autoplays {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



.css-slider > * {
  animation: 12s autoplays infinite linear;
  position: absolute;
  top: 260px;
  left: 0;
  opacity: 0;

  
}


.css-slider > *:nth-child(1) {
  animation-delay: 0s;
  background: #f00;
   /* width: 100%;  */

}
.css-slider > *:nth-child(2) {
  animation-delay: 4s;
  background: #000;
}
.css-slider > *:nth-child(3) {
  animation-delay: 8s;
  background: #ff0;
}









/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    grid-column-gap: 1em;
    margin: 0px 240px 0px 240px;


  }


}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    grid-column-gap: 1em;
    margin: 0px 60px 0px 60px;
    padding: 0%;


  }

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    grid-column-gap: 1em;
    margin: 0px 20px 0px 20px;


  }

}



/* 
Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



  .grid {
    display: grid;
    height: 74vh;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    margin: 0px 0px 0px 0px;

  }

}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 3em;
    padding: 0px 0px 0px 0px;
    margin: 0;
  } 

}