

html {
    scroll-behavior: smooth;
    
}



#CG {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 140px;
  margin: 80px 45px 120px 100px;
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}


#CG_p {
   
    position: sticky;
    height: 100vh;
}




#CG_p {
    display:none;
} 



#CG_p:target{
    display: grid;
    padding-left: 100px;
    padding-right: 45px;
    grid-row-gap: 80px;
    grid-column-gap: 60px;

} 



  
#CG .CG_1 {
    grid-column: col 1 / span 4;
    grid-row: row 0;
  
  }

    
  #CG .text {
    grid-column: col 2 / span 5;
    grid-row: row 2;
padding-bottom: 80px;  
  }
  
  
  #CG .CG_2 {
    grid-column: col 7 / span 6;
    grid-row: row 1;
  
  }
  


  /* #CG_p {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 1em;
    padding-left: 10px;
    grid-row-gap: 100px;
 
  
  } */


  #CG_p .CG_3 {
    grid-column: col 9 / span 6;
    grid-row: row 1;

  }






#CG_p .CG_4 {
    grid-column: col 1 / span 6;
    grid-row: row 2;


  }
  



  #CG_p .CG_5 {
    grid-column: col 12 / span 2;
    grid-row: row 3;


  
  }


  #CG_p .CG_p {
    grid-column: col 1 / span 6;
    grid-row: row 3;
    padding-top: 80px;
  
  }
  
  #CG_p .CG_6 {
    grid-column: col 1 / span 2;
    grid-row: row 4;
padding-bottom: 80px;
  
  } 







  #calder  {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 80px 45px 0px 100px;
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */
  
  }


  
#calder_p {
   
  position: sticky;
  height: 100vh;
}




#calder_p {
  display:none;
} 



#calder_p:target{
  display: grid;


} 
  

  #calder .text {
    grid-column: col 6 / span 8;
    grid-row: row 1;
  
  } 
  
  
  
 .calder_1  {
    grid-column: col 3 / span 5;
    grid-row: row 2;
  
  
  }  
  


  .calder_2  {
    grid-column: col 10 / span 2;
    grid-row: row 29;
  
  
  }  
  

  .calder_3  {
    grid-column: col 1 / span 3;
    grid-row: row 32;
  
  
  }  
  



  #krugier  {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 80px 45px 0px 100px;
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */
  
  }


#krugier_p {
   
  position: sticky;
  height: 100vh;
}




#krugier_p {
  display:none;
} 



#krugier_p:target{
  display: grid;


} 

  

#krugier .text {
  grid-column: col 6 / span 8;
  grid-row: row 34;
  
}
  
   
.krugier_1 {
  grid-column: col 1 / span 4;
  grid-row: row 36;
  
  
}  
  

.krugier_2 {
  grid-column: col 7 / span 7;
  grid-row: row 39;
    
    
}




#KS  {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 80px 45px 0px 100px;
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}


#KS_p {
 
position: sticky;
height: 100vh;
}




#KS_p {
display:none;
} 



#KS_p:target{
display: grid;


} 



#KS .text {
grid-column: col 6 / span 8;
grid-row: row 40;

}

 
.ks_1 {
grid-column: col 1 / span 5;
grid-row: row 41;


}  


.ks_2 {
grid-column: col 11 / span 3;
grid-row: row 44;
  
  
}

 
  
.ks_3 {
  grid-column: col 1 / span 5;
  grid-row: row 46;
    
    
  }
  
  
  