* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  }

  body {
    /* color: rgb(87, 100, 103); */
    color: rgb(65, 74, 76);

  }
  navigation {
    position: fixed;
    font-family: 'the_new_eleganceregular';

    display: flex;
    width: calc(100% - 92px);
    left: 46px;
    justify-content: center;
    padding-top: 3.6px;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    /* left: 8%;  */
    /* background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(10px); */
    z-index: 1;
    }
    
  .websiteFrame {
    position: fixed;
    
    background-color: #afa5a51d;
    backdrop-filter: blur(10px);
}

#websiteFrameTop {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom: 0.5px solid #afa5a58b;
}

#websiteFrameRight {
  top: 0;
  bottom: 0;
  right: 0;
  width: 0px;
}

#websiteFrameBottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

#websiteFrameLeft {
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
}

.active {
    color: black;

}

.menu {
  
  
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 20%;
  left: 0;
  bottom: 0;
  width: 0px;
  padding-right: 0px;
  font-size: .8rem;


}

.menu a {
  font-family: 'NeueHaasGroteskDisplay35ExtraLight';
 font-size: .7rem;
 letter-spacing: 1px;
 color: rgb(87, 100, 103);
 opacity: 1;

}

navigation .fi-sr-envelope {
  font-size: 1.1rem;
  position: fixed;
  right: 1.5%;
  top: 1.5%;
}

.menu li a { 

  position: fixed;
  left: 25px;
  padding: 0px 40px;

}

button {
  background-color: transparent;
  border: 0.5px solid #274046;
}


  
#flip1, #flip2, #flip3, #flip4 {
    margin-top: 20px;
    margin-bottom: 0px;

  }
  
  #panel1, #panel2, #panel3, #panel4 {
    display: none;
    margin-top: 0px;
    text-align: justify;
    margin-top: 40px;
    width: 80%;

      /* background-image: linear-gradient(90deg, #d6d0cb 20%, #434343 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
  }


  /* .skill_tab {
    box-sizing: border-box;
    padding-top: 40px;

  } */



  /* .skill_tab > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
   
   
    
    
 

} */

/* 
  
.tablinks_skills {
    padding: 0px 0px 0px 0px;
    border: none;
    color: white;
    outline: none;
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    transition: transform .2s;
    margin-bottom: 16px;
  
  
  }
   */
  
  .tabs {
    display: flex; 
    width: 100%;
    background-color: white;
    height: 24px;
    margin-bottom:6vh;
    margin-top: 4vh;
   
  }
  
  .tabs > div {
   
    border-radius: 50px;
    /* background-color: brown; */
    /* border: 2px solid #434343; */
  /* border-top: 1px solid #434343; */
  box-sizing: border-box;
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #274046, #e6dada);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-90deg, #2740460d, #e4c5c537); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 150%;
  font-size: 0.7rem;
  line-height: 0.8rem;
  letter-spacing: 0.3px;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 24px 36px;
  
  } 
  
  
  .col {
    /* background-color: blue; */
    padding-top: 8px;
    background-color: #e6dada13;
  
    display: flex;
    width: 100%;
    height: 80px;
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #274046, #e6dada);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .col > div {
    flex: 1;
    /* background-color: brown; */
    /* border: 2px solid #434343; */
  /* border-top: 1px solid #434343; */
  box-sizing: border-box;

  border-right: 0.5px solid #E6DADA9a;
  }  
  
  
/* .skill_tab li {
    justify-content: space-evenly;
    text-align: center;
    width: 128px;
    height: 36px;
    border-radius: 50px;
    box-sizing: border-box;
    margin-right: 6px;
    padding-top: 10px;
   font-size: 12px;
   background-color: rgba(183, 179, 173, 0.346);
  opacity: 1;
  
  } */


.brief p {
    box-sizing: border-box;
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #274046, #e6dada);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
    width: 80%;
  }
  
  .copy hr {
    margin-bottom: 0px;
    opacity: .6;
  }
  



  img {
    width: 100%;
  }



  #cg, #calder, #krugier, #ks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 80px;
    box-sizing: border-box;
    /* background-color: #8cffa0; */
    padding: 100px 0% 0px 6%;
    
  }
  

#cg .img_1 {
    grid-column: 8 / span 4;
    grid-row: 1;

}

#cg .img_2 {
    grid-column: 1 / span 7;
    grid-row: 3;
}

#cg .img_3 {
  grid-column: 8 / span 5;
  grid-row: 4;
}

#cg .img_4 {
  grid-column: 1 / span 3;
  grid-row: 5;
}

#cg .img_5 {
  grid-column: 6 / span 7;
  grid-row: 6;
}


#cg .copy {
    grid-column: 1 / span 6;
    grid-row: 2;
    
}


#calder .img_1 {
  grid-column: 1 / span 3;
  grid-row: 1;
}



#calder .copy {
  grid-column: 1 / span 7;
  grid-row: 2;
}

#calder .img_2 {
grid-column: 6 / span 5;
grid-row: 3;
}

#calder .img_3 {
  grid-column: 1 / span 5;
  grid-row: 4;
  }
  



#krugier .img_1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}


#krugier .img_2 {
  grid-column: 6 / span 6;
  grid-row: 2;
}


#krugier .copy {
    grid-column: 1 / span 7;
    grid-row: 3;
    /* margin-top: 44px; */
}





#ks .img_1 {
    grid-column: 1 / span 8;
    grid-row: 1;
}

#ks .copy {
    grid-column: 1 / span 7;
    grid-row: 2;
   
    
}


#ks .img_2 {
  grid-column: 8 / span 3;
  grid-row: 3;
}


#ks .img_3 {
  grid-column: 1 / span 4;
  grid-row: 4;
}



  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

    body {
        overflow-x: hidden;
        box-sizing: border-box;

    }

    #cg, #calder, #krugier, #ks  {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(6, auto);
        grid-row-gap: 20px;
        /* background-color: #8cffa0; */
        min-height: 100vh;
        box-sizing: border-box;
        padding: 0% 0% 0% 16%;
       

      }

    
#cg .img_1 {
  grid-column: 1 / span 4;
  grid-row: 1;

}

#cg .img_2 {
  grid-column: 1 / span 5;
  grid-row: 3;
}

#cg .img_3 {
grid-column: 1 / span 5;
grid-row: 4;
}

#cg .img_4 {
grid-column: 1 / span 3;
grid-row: 6;
}

#cg .img_5 {
grid-column: 1 / span 5;
grid-row: 5;
}


#cg .copy {
  grid-column: 1 / span 5;
  grid-row: 2;
}


#calder .img_1 {
grid-column: 3 / span 3;
grid-row: 1;
}



#calder .copy {
grid-column: 1 / span 5;
grid-row: 2;
}

#calder .img_2 {
grid-column: 1 / span 5;
grid-row: 3;
}

#calder .img_3 {
grid-column: 1 / span 5;
grid-row: 4;
}




#krugier .img_1 {
  grid-column: 1 / span 3;
  grid-row: 1;
}


#krugier .img_2 {
grid-column: 1 / span 5;
grid-row: 2;
}



#krugier .copy {
  grid-column: 1 / span 5;
  grid-row: 3;
  /* margin-top: 44px; */
}





#ks .img_1 {
  grid-column: 1 / span 5;
  grid-row: 2;
}

#ks .copy {
  grid-column: 1 / span 5;
  grid-row: 3;

  
}


#ks .img_2 {
grid-column: 1 / span 3;
grid-row: 1;
}


#ks .img_3 {
grid-column: 1 / span 4;
grid-row: 4;
}





    }