

body {
  color: #a6a6a6;
  margin: 0%;
  padding: 0%;

  

}

 
header {
  position: fixed;
  z-index: 1;
height: 60px;
  top: 0;
  right: 0;
  left: 0;
  width: calc(100% - 6px);
  background-color: #fafafa4e;
  border-bottom: 0.5px solid #b3b3b35d; 
 backdrop-filter: blur(5px);  
 border-top: 0px;


 

}


header * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0;
  width: fit-content;




}




.nav {
  float: left;
  
}


.nav a,
.nav_2 a {
  padding-top: 100%;
  justify-content: space-between;
  z-index: 1;
  opacity: 1;
  text-align: right;

}



.nav a:hover,
.nav_2 a:hover {

  opacity: 0.6;

}


.nav_2 {
  float: right;
  

}



.nav i {
  font-size: 1.1rem;
  padding: 0px 40px 0px 40px;


}

.cont i {
  font-size: 1.1rem;
  padding: 0px 40px 0px 40px;

}






footer {
  position: fixed;
  height: 36px;
padding: 0px 0px 14px 0px;
  bottom: 0;
  right: 0;
  left: 0;

  width: calc(100% - 6px);
  background-color: #fafafa4e;
  border-top: 0.5px solid #b3b3b35d; 
 backdrop-filter: blur(5px);  
 border-bottom: 0px;




}


footer * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;





}


.footer a {
  justify-content: space-between;
  font-size: .65rem;

}




.footer_2 ul li i {
  font-size: 1.1rem;
  padding-left: 40px;
padding-top: 5px;
}


.footer_2 {
  float: right;
  margin-right: 40px;

}


.footer ul {
  padding-left: 0%;

}

.footer ul li {
  padding-left: 0%;
  padding-right: 40px;

}


.footer {
  float: left;
  margin-left: 40px;

}



.footer i {
  font-size: 1rem;

}

.links {
  position: fixed;
  top: 16%;
}

.links ul {

  margin-left: 0%;
  padding-left: 0%;
}




/* HR */

hr {
  border: 0.5px solid rgba(164, 164, 164, 0.314);
  margin-bottom: 3%;
}

/* 
.gradient {

  background-image: linear-gradient(180deg, rgb(179,179,179), rgba(181, 181, 181, 0.468));
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  

} */





/* 
.print__numbers {
  display: grid;
  grid-column: col 12 / span 1;

 
  /* display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start; */
 



  








.tag {
 display: flex;
 flex-direction: column;
 align-content: flex-end;
 position: fixed;
 left: 40px;
 top: 36vh;


}

.tag a {
  padding-top: 16px;
  color: #a6a6a6;
}



.print_numbers a, .number a, .tag a {

padding-right: 30px;
padding-bottom: 0px;
}





/* .poker_2 {
  display: grid;
  grid-column: col 8 / span 6;
  grid-row: row 6;
  padding-bottom: 0px;


}  

.poker_2_mob {
  display: grid;
  grid-column: col 5/ span 2;
  grid-row: row 5;
  padding-bottom: 0px;


}  

.poker_3 {
  display: grid;
  grid-column: col 1 / span 6;
  grid-row: row 8;
  padding-bottom: 0px;


}  

.poker_3_mob {
  display: grid;
  grid-column: col 8 / span 2;
  grid-row: row 9;
  padding-bottom: 0px;


}   */






#YSL_p  {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 0px 60px 0px 120px;
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}



p {
  grid-column: col 1 / span 4;
  grid-row: row 1;

}

.arrows {
  grid-column: col 6 / span 4;
  grid-row: row 1;
}



.up {
scroll-behavior: smooth;    /* <----- THE SECRET ---- */

  display: inline-block;
  padding: 20px;
  
}




.arrows a {
  font-size: 1rem;
  line-height: 2rem;
  opacity: 0.6;
  transition: 0.3s;
  scroll-behavior: smooth;


}

.arrows a:hover {
  opacity: 1;

}