@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url("https://use.typekit.net/ezv7rpx.css");

body {
margin: 0px 0%;
scroll-behavior: smooth;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}



nav.it {
    -webkit-transform:rotate(-90deg) translateX(-100%);
}

h1 {
  font-family: 'the_new_eleganceCnRg';

  font-size: 7rem;
    letter-spacing: 6px;
   
}

h2 {
    font-family: 'the_new_eleganceregular';
letter-spacing: 1px;
    font-size: 2rem;
    line-height: 2rem;
}

h3 {
    font-size: .7rem;

}

h4 {
  font-family: 'NeueHaasGroteskDisplay55Regular';

    font-size: .8rem;
}

h5 {
  font-family: 'the_new_eleganceregular';
  letter-spacing: 0.75px;
    font-size: 12px;
    line-height: 0.2rem;
    margin: 0px;
    padding-bottom: 0px;
}

h6 {
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 0.75px;
}

p {
  font-family: 'neue-haas-grotesk-display'; 
  font-size: 0.7rem;
    line-height: 1.2rem;
    letter-spacing: 0.5px;
    text-align: justify;
}

body {
    font-family: 'NeueHaasGroteskDisplay45Light';
    font-size: 0.7rem;
    line-height: 0.95rem;
    letter-spacing: 0.5px;
    text-align: justify;
}

.cond_it {
    font-family: 'the_new_eleganceCnIt';
}

.cond_reg {
    font-family: 'the_new_eleganceCnRg';
}

.it {
    font-family: 'the_new_eleganceitalic';
}

.reg {
    font-family: 'the_new_eleganceregular';
}

 li {
list-style: none;
padding-left: 0px;
}

ul {
    list-style: none;
    padding-left: 0px;
    }

button {
  font-family: 'NeueHaasGroteskDisplay45Light';

    border-radius: 50px;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 0px;
    background: #E6DADA; 
    text-align: center;
    /* background: -webkit-linear-gradient(45deg, #274046, #e6dada); 
    background: linear-gradient(-90deg, #2740460d, #e4c5c537);  */
    padding: 6px 6px;
   

}

.hvr-push {
    display: block;
    margin: auto;
    margin-top: 10vh;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   
  }

  .hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    
  }



/* 

button.tablink {
    border-radius: 50px;
    width: 120px;
    height: 42px;
    border: none;
    font-family: 'NeueHaasGroteskDisplay35ExtraLight';
} */

hr {
    border: 0.5px solid rgba(255, 255, 255, 0.066);
    margin-bottom: 0px;
    margin-top: 10px;
}



.test {
    font-family: 'NeueHaasGroteskDisplay25Thin';
}



a {
    text-decoration: none;
    color: inherit;
    opacity: .6;
   

}

a:hover {
    transition: 0.3s;
    opacity: 1;
}

.square {
    padding: 0px 0px 0px 0px;
    border: 0.5px solid #e6dada3f;
    /* filter: drop-shadow(0 0 0.25rem rgb(129, 129, 129)); */
    outline: none;
    margin: 0px 6px 0px 0px;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: #2929297b;
    font-weight: 200;
    transition: transform .2s;
  
  
  }


.square i {
  position: absolute;
  z-index: 1;
  top: 9px;
  left: 0%;
  margin-left: 8px;
  font-size: .9rem;
}


.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #767473;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0;
    font-size: .6rem;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


/* LANGUAGES - Style the buttons inside the tab */
button.tablinks {
  border: 1px solid rgba(255, 255, 255, 0.195);
  outline: none;
  width: 95px;
  margin: 2px 2px;
  height: 40px;
    border-radius: 50px;
    transition: 0.3s;
    padding-left: 0px;
    font-size: 11px;
    letter-spacing: 0.5px;
    padding: 0px;
    color: white;
    background: transparent; 
    font-weight: 200;
    transition: transform .2s; 
  opacity: 1;
  }


.languages {
  flex-wrap: nowrap;
}


/* Style the tab */
.tab {
    overflow: hidden;
   display: flex;
   flex-wrap: wrap;

  }
  
/* clients - Style the buttons inside the tab */
.tab button.tablinks {
    border: 1px solid rgba(255, 255, 255, 0.195);
    outline: none;
    width: 102px;
    margin: 4px 2px;
    height: 40px;
    border-radius: 50px;
    transition: 0.3s;
    padding-left: 0px;
    font-size: 11px;
    letter-spacing: 0.5px;
    padding: 0px;
    color: white;
    background: transparent; 
    font-weight: 200;
    transition: transform .2s; 
    opacity: 1;
  
  }

 /* width */
::-webkit-scrollbar {
    width: 6px;
    color: white;
    /* color: #212121; */
  } 
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;
    
  } 



/* Change background color of buttons on hover */
.tab button:hover {
    /* opacity: .3;   */
    cursor: pointer;
    color: black;
    background-color: white;
}
  
/* Create an active/current tablink class */
.tab button.active {
    color: white;
    background-color: #e0dcd869;
  }
  

  

  


  
  .view {
    float: right;
    /* text-decoration-line: underline;
    text-underline-offset: 0.4em;
    text-decoration-thickness: 0.50px;
    text-decoration-color: #c9c9c964; */
  }


  @media only screen and (min-width: 400px) and (max-width: 600px) {
    h1 {
      font-size: 5rem;
      line-height: 2.5rem;
      letter-spacing: 4px;
  }
  }


  @media only screen and (min-width: 400px) and (max-width: 768px) {


    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    /* LANGUAGES - Style the buttons inside the tab */
.tab button.tablinks {
  
    outline: none;
    flex-wrap: nowrap;
    margin: 4px 4px 0px 0px;
    height: 40px;
   
  
  }

  button.tablinks {
    width: 95px;

    outline: none;
    flex-wrap: nowrap;

  }

  /* clients - Style the buttons inside the tab */
.tab button.tablinks {
  outline: none;
  width: 128px;
  margin: 3px 2px;
}

}