
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://db.onlinewebfonts.com/c/fedc4d4a8801488c6c47b5521bbba331?family=Mrs+Eaves+Lining+OT');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-straight/css/uicons-solid-straight.css');





html {
    scroll-behavior: smooth;
     color: #ccc; 
}




body {
    font-family: 'Switzer';
    font-size: 0.8rem;
    line-height: 1.4rem;
    font-weight: 200;
    padding-top: 0px;
    text-align: justify;

}



h1 {
    font-size: 7rem;
    letter-spacing: -5px;
    line-height: 5.5rem;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
}


h2 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -3px;
    font-weight: 100;
    padding: 0% 0;
    margin: 0% 0;
}


h3 {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0px;
    font-weight: 200;
    padding: 0%;
    margin: 0%;
}


h4 {
    font-size: 1rem;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}


h5 {
    font-size: 0.75rem;
    letter-spacing: 0px;
    font-weight: 200;
    padding: 0%;
    margin: 0%;
}


h6 {
    font-size: 0.8rem;
    letter-spacing: 0px;
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}


p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 0.8px;
    font-weight: 200;
    padding: 0%;
    margin: 0%;
    text-align: justify;
}




a {
    text-decoration: none;
    color: inherit;
    opacity: 1;
    transition: 0.3s;
}


a:hover {
    opacity: 0.6;
}


ul {
    /* list-style: none; */
    margin: 0%;
    padding: 0%;

}


li {
    list-style: none;
    /* margin: 0%;
    padding: 0%; */

}


/* HR */

hr {
    border: 0.4px solid rgba(100, 100, 100, 0.24);
    margin-bottom: 24px;
}


/* SCROLLBAR */

 

.scrollbar h2 {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: .1px;

}



.scrollbar h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}
  
.scrollbar h4 {
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-bottom: 1px;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
