
h2 {
  font-size: 2.25em;
  letter-spacing: -0.5px;
  font-weight: 100;
}

h4 {
  font-size: 1.25em;
  letter-spacing: 0px;

}


#yves {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 45px;
  margin: 0px 45px 0px 100px;
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}

#yves .text {
  grid-column: col 1 / span 4;
  grid-row: row 2;
  padding-top: 120px;
}


.yves_insta {
  grid-column: col 1 / span 3;
  grid-row: row 1;
}


.ysl_video {
  grid-column: col 7 / span 6;
  grid-row: row 2;
}





#ps {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 2rem;
 grid-row-gap: 45px;
  margin: 0px 45px 0px 100px;
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}



#ps .text {
  grid-column: col 7 / span 5;
  grid-row: row 2;
}


.ps_1 {
  grid-column: col 1 / span 5;
  grid-row: row 1;
}


#ps_1 {
  display: grid;
}

.css-slider {
 position: relative;
 grid-column: col 7 / span 7;
 grid-row: row 3;



}



#ps_1 {
  position: sticky;
  height: 80vh;
}




#ps_1 {
  display:none;
} 



#ps_1:target{
  display: grid;

} 

#ads {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 45px;
  margin: 0px 45px 0px 100px;
  padding: 0px;
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}



/* 
.ads_1 {
  grid-column: col 1 / span 5;
  grid-row: row 1;
} */


/* .ads_2 {
  grid-column: col 1 / span 7;
  grid-row: row 1;
  padding-top: 0px; 

} */

#ads .text {
  grid-column: col 7 / span 4;
  grid-row: row 1;
  padding-top: 0px;

} 

.ads_1 {
  grid-column: col 1 / span 5;
  grid-row: row 1;



}





#mag {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 45px;
  margin: 0px 45px 0px 100px;
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}



#mag .text {
  grid-column: col 7 / span 5;
  grid-row: row 3;
 }


.mag_video {
  grid-column: col 1 / span 5;
  grid-row: row 2;
}



#mag_p {
 
  position: sticky;
  height: 100vh;
}




#mag_p {
  display:none;
} 



#mag_p:target{
  display: grid;
  grid-column: col 7 / span 5;
  grid-row: row 4;
  padding-top: 100px;

  /* padding-left: 45px;
  padding-right: 45px;
  grid-row-gap: 80px;
  grid-column-gap: 60px; */

} 



#rugby_rfu {
  display: grid;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 45px;
  margin: 0px 45px 0px 100px;
  scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}



.video_1 {
  grid-column: col 1 / span 5;
  grid-row: row 1;
}


.video_2 {
  grid-column: col 6 / span 7;
  grid-row: row 2;
  padding-top: 60px; 

}

#rugby_rfu .text {
  grid-column: col 1 / span 4;
  grid-row: row 2;
  padding-top: 160px;

}

.video_3 {
  grid-column: col 1 / span 4;
  grid-row: row 3;
  padding-top: 60px;
  padding-bottom: 80px;


}








@keyframes autoplay6 {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



.css-slider > * {
  animation: 12s autoplay6 infinite linear;
  position: absolute;
  top: 120px;
  left: 0;
  opacity: 0;
  /* height: 100%; */
  /* width: 100%; */

  
}


.css-slider > *:nth-child(1) {
  animation-delay: 0s;
  /* background: #f00; */
   /* width: 100%;  */

}
.css-slider > *:nth-child(2) {
  animation-delay: 4s;
  /* background: #000; */
}
.css-slider > *:nth-child(3) {
  animation-delay: 8s;
  /* background: #ff0; */
}



