ul  li{
    list-style: circle;
}

h6 {
    margin-bottom: 0px;
    padding-bottom: 8px;
}


p {
    margin-top: 0px;
    padding-top: 0px;
}

.media {
    display: grid;
    grid-template-columns: repeat(12, [col] auto);
    gap: 40px;
    margin: 100px 8% 40px 12%;
    min-height: 100vh;
   grid-row-gap: 120px;
    
  }


 


  #media .img {
    grid-column: 2 / span 10;
    grid-row: 6;

}


#media .copy {
 
    grid-column: 1 / span 7;
    grid-row: 2;
    padding-top: 12vh;
     /* background-color: aqua; */
}


#media .video_2 {
    grid-column: 1 / span 5;
    grid-row: 4;
/* align-self: flex-end; */
    /* background-color: aqua; */
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0vh;

}




#media .video_1 {
    grid-column: 6 / span 6;
    grid-row: 4;
    padding-top: 0vh;


}


#media .case {
 
    grid-column: 1 / span 7;
    grid-row: 6;
    /* align-self: flex-end; */
}


.col {
    display: flex;
}





#media .card_1 {
    grid-column: 6 / span 3;
    grid-row: 5;
  

}

#media .card {
    grid-column: 2 / span 3;
    grid-row: 5;

}



#pinzutu .copy {
    grid-column: 1 / span 7;
    grid-row: 2;
    
}




#pinzutu .video_1 {
    grid-column: 2 / span 7;
    grid-row: 5;
  

}

#pinzutu .img_1 {
    grid-column: 1/ span 12;
    grid-row: 6;
    padding-top: 0vh;

}


#pinzutu .video_2 {
    grid-column: 1 / span 6;
    grid-row: 5;

}

#pinzutu .video_mob {
    grid-column: 9 / span 3;
    grid-row: 5;
   

}




#art .copy {
    grid-column: 1 / span 7;
    grid-row: 1;
    
}


#art .video_1 {
    grid-column: 2 / span 11;
    grid-row: 2;

}


.card, .card_1 {
    /* width: 130px;
    height: 195px; */
    position: relative;
    display: inline-block;
    margin: 0px;
}
.card .img-top, .card_1 .img-top-1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}


.card_1:hover .img-top-1 {
    display: inline;
}


html:not(.mobile) .zoom:hover {
    cursor: zoom-in;
    transition: .5s;
    transition-delay: 90s; /* how long before the img automatically returns to original size */
    transition-property: -webkit-transform;
    -webkit-transform: scale(1); 
    z-index: 999; 
    position: sticky; /* this and z-index should ensure that the zoomed img is always displayed on top of any other element */
  }
  
  html:not(.mobile) .zoom:active { 
   cursor: zoom-out;
   -overflow: auto; /* Enable scroll if needed */
   transition: 0s;
   transition-delay: 0.05s;
   transition-property: -webkit-transform;
   -webkit-transform: scale(1.5); /* set zoom level */
 

   -webkit-transform-origin: center; /* set img position */
   z-index: 1000; 
  }