.intro p {
  text-align: justify;
	margin-bottom: 2px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11.5px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: rgba(255, 255, 255, 0.596);
  padding-bottom: 0px;

  }



.container .intro ul li {
  color: rgba(255, 255, 255, 0.596);

}



/* Section - Block */
/**************************/
.intro {
  /* background: white; */
  color: white;
  padding-top: 60px;


  /* padding: 60px; */
 
}



#flip1, #flip2, #flip3, #flip4 {
  margin-top: 40px;
  
  margin-bottom: 0px;
  cursor: pointer;

}

#panel1, #panel2, #panel3, #panel4 {
  display: none;
  text-align: justify;
  margin-top: -60px;
  width: 100%;

 

}


